@model IEnumerable<AppIntegrador.Models.Pregunta>

@{
    ViewBag.Title = "Agregar preguntas";
}


<link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">
<script>
    function check(elem) {
        // use one of possible conditions
        // if (elem.value == 'Other')
        if (elem.selectedIndex == 0) {
            document.getElementById("
    
    ").style.display = 'inline';

            document.getElementById("codigo-option").style.display = 'none';
            document.getElementById("codigo-option").value = "";

            document.getElementById("enunciado-option").style.display = 'none';
            document.getElementById("enunciado-option").value = "";

            document.getElementById("type-option").style.display = 'none';
            document.getElementById("type-option").value = "";

        }
        else if (elem.selectedIndex == 1) {
            document.getElementById("other-option").style.display = 'none';
            document.getElementById("other-option").value = "";

            document.getElementById("codigo-option").style.display = 'inline';

            document.getElementById("enunciado-option").style.display = 'none';
            document.getElementById("enunciado-option").value = "";

            document.getElementById("type-option").style.display = 'none';
            document.getElementById("type-option").value = "";
        }
        else if (elem.selectedIndex == 2) {
            document.getElementById("other-option").style.display = 'none';
            document.getElementById("other-option").value = "";

            document.getElementById("codigo-option").style.display = 'none';
            document.getElementById("codigo-option").value = "";

            document.getElementById("enunciado-option").style.display = 'inline';

            document.getElementById("type-option").style.display = 'none';
            document.getElementById("type-option").value = "";
        }
        else {
            document.getElementById("other-option").style.display = 'none';
            document.getElementById("other-option").value = "";

            document.getElementById("codigo-option").style.display = 'none';
            document.getElementById("codigo-option").value = "";

            document.getElementById("enunciado-option").style.display = 'none';
            document.getElementById("enunciado-option").value = "";

            document.getElementById("type-option").style.display = 'inline';

        }
    }
</script>

<div class="form-horizontal card-group">
    <div class=" card card-default">
        <div class="card-body test3">
            <h2>Agregar preguntas</h2>

            @*
                Historia RIP-BKS1
                Se llama al ActionResult Create que filtra preguntas.
            *@
            @using (Html.BeginForm("Create", "Seccion", FormMethod.Get))
            {
                <div class="form-horizontal card-group">

                    <div class="card card-default">

                        <div class="card-body test2">
                            <b>
                                Búsqueda:
                            </b>

                            <form action="PreguntaConOpcionesDeSeleccionController/Index" name="opcionfiltro">

                                <select class="form-control my-form-control" id="mySelect"
                                        style="width: 25%; display: inline;" onChange="check(this);">
                                    <option value="-">Sin filtro </option>
                                    <option value="C">Código </option>
                                    <option value="E">Enunciado</option>
                                    <option value="T">Tipo </option>
                                </select>

                                @* campo de filtrado para ingresar el código *@
                                <input class="form-control" type="text" name="input0" placeholder="" id="other-option" style="display:inline; width: 41%;" disabled="true">
                                <input class="form-control" type="text" name="input1" placeholder="Buscar..." id="codigo-option" style="display:none; width: 41%;" maxlength="8">
                                <input class="form-control" type="text" name="input2" placeholder="Buscar..." id="enunciado-option" style="display:none; width: 41%;" maxlength="250">

                                @* campo de filtrado para seleccionar el Tipo *@
                            <select class="form-control" type="text" name="input3" id="type-option" style="display:none; width: 38%;">                                
                                <option value="">Tipos de preguntas</option>
                                <option value="U">Selección Única</option>
                                <option value="M">Selección Múltiple</option>
                                <option value="S">Sí/No/NR</option>
                                <option value="L">Respuesta Libre</option>
                                <option value="E">Escalar</option>
                            </select>

                                @* Enviar el filtrado al controlador *@
                                <input type="button"
                                       value="Filtrar"
                                       onclick="FiltrarBancoPreguntas()"
                                       class="btn btn-outline-light text-dark bg-white border-secondary" />
                                <br />
                            </form>
                            @if (@ViewBag.filtro != "Ninguno")
                            {
                                <h5><span class="label label-default">@ViewBag.filtro</span></h5>
                            }

                        </div>
                    </div>
                </div>
                <br />
            }
            <div style="height: 300px; overflow: auto;">
                <table id="selectedColumn" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">

                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Enunciado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo)
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr id="preg(@item.Codigo)">
                            <td style="width:7%">
                                <center>
                                    <input type="checkbox" id="pregch(@item.Codigo)" class="QuestionCheckbox" value="@item.Codigo" onclick="selectPregunta(this)" />
                                </center>
                            </td>
                            <td style="width:15%">
                                @Html.DisplayFor(modelItem => item.Codigo)
                            </td>
                            <td style="width:60%">
                                @Html.DisplayFor(modelItem => item.Enunciado)
                            </td>
                            <td style="width:15%">
                                @if (item.Tipo == "U")
                                {
                                    <p>Selección Única</p>
                                }
                                else if (item.Tipo == "M")
                                {
                                    <p>Selección Múltiple</p>
                                }
                                else if (item.Tipo == "L")
                                {
                                    <p>Respuesta Libre</p>
                                }
                                else if (item.Tipo == "S")
                                {
                                    <p>Sí/No/NR</p>
                                }
                                else if (item.Tipo == "E")
                                {
                                    <p>Escalar</p>
                                }
                                @**@
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .test3 {
        background: #fdfdfd;
    }

    .test2 {
        background: #fbfbfb;
    }

    input.QuestionCheckbox {
        width: 15px;
        height: 15px;
    }

    .my-form-control {
        width: 10%;
        display: inline
    }
</style>


@section Scripts {
    <script src="~/Scripts/Formularios/AgregarPreguntas.js"></script>

    <script>
        $(document).ready(function () {
            $("#codigotext").attr("disabled", "disabled");
            if ($("input[name=optradio]:checked").val() == "codigoinput") {
                $("#EnterRange").click(function () {
                    $("#codigotext").removeAttr("disabled");
                });
            }
        });
    </script>



    <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

}
