@model IEnumerable<AppIntegrador.Models.Pregunta_con_opciones_de_seleccion>

@{
    ViewBag.Title = "Agregar preguntas";
}

<h2>Agregar preguntas</h2>

<link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">


<style>
    input.QuestionCheckbox {
        width: 30px;
        height: 30px;
    }
</style>
<script>
    function filtrar() {
        var i
        for (i = 0; i < document.opcionfiltro.sel.length; i++) {
            if (document.opcionfiltro.sel[i].checked)
                break;
        }
        var opcion = document.opcionfiltro.sel[i].value
        var text =
    }
</script>

@*
    Historia RIP-BKS1
    Se llama al ActionResult Create que filtra preguntas.
*@
@using (Html.BeginForm("Create", "Seccion", FormMethod.Get))
{
    //the following are search options
    <b>
        Opciones de búsqueda:
    </b>

    <form action="PreguntaConOpcionesDeSeleccionController/Index" name="opcionfiltro">
        <input type="radio" name="sel" value="1" id="codigo"
               onclick="enableElement(this.form.elements['inp1'])"> <text>Codigo</text>
        <input type="text" name="inp1" disabled="disabled">


        <input type="radio" name="sel" value="2"
               onclick="enableElement(this.form.elements['inp2'])"> <text>Tipo</text>
        <select type="text" name="inp2" disabled="disabled">            
            <option value="">Tipos de preguntas</option>
            <option value="U">Seleccion Unica</option>
            <option value="M">Seleccion Multiple</option>
        </select>

        <input type="radio" name="sel" value="3"
               onclick="enableElement(this.form.elements['inp3'])"><text>Enunciado</text>
        <input type="text" name="inp3" disabled="disabled">

        <input type="submit"
               name="submit"
               value="Filtrar"
               class="btn" />

        <br />

    </form>

}
<br />
<div style="height: 300px; overflow: auto;">
    <table id="selectedColumn" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
        
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta_con_opciones.Pregunta.Enunciado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr id="preg(@item.Codigo)">
                <td style="width:10%">
                    <center>
                        <input type="checkbox" class="QuestionCheckbox" value="@item.Codigo" onclick="selectPregunta(this)" />
                    </center>
                </td>
                <td style="width:15%">
                    @Html.DisplayFor(modelItem => item.Pregunta_con_opciones.Pregunta.Codigo)
                </td>
                <td style="width:60%">
                    @Html.DisplayFor(modelItem => item.Pregunta_con_opciones.Pregunta.Enunciado)
                </td>
                <td style="width:15%">
                    @*@Html.DisplayFor(modelItem => item.Tipo)*@
                    Selección única
                </td>
            </tr>
        }
    </table>
</div>


    @section Scripts {
        <script src="~/Scripts/Formularios/AgregarPreguntas.js"></script>
        

        

        <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">

        <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

        <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

    }
