@model IEnumerable<AppIntegrador.Models.Pregunta_con_opciones_de_seleccion>

@{
    ViewBag.Title = "Banco de preguntas";
}

<link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">

<div class="container">
    <h2>Banco de preguntas</h2>

    @using (Html.BeginForm(FormMethod.Get))
    {
        <div class="form-horizontal panel-group">

            <div class=" panel panel-default">

                <div class="panel-body test2">
                    <b>
                        Búsqueda:
                    </b>

                    <form action="PreguntaConOpcionesDeSeleccionController/Index" name="opcionfiltro">
                        @* campo de filtrado para ingresar el código *@
                        <input type="radio" name="sel" value="1" id="codigo"
                               onclick="enableElement(this.form.elements['inp1']);">
                        <label for="codigo">Codigo</label>
                        <input type="text" name="inp1" disabled="disabled">

                        @* campo de filtrado para ingresar el enunciado *@
                        <input type="radio" name="sel" value="3" id="enunciado"
                               onclick="enableElement(this.form.elements['inp3']);">
                        <label for="enunciado">Enunciado</label>
                        <input type="text" name="inp3" disabled="disabled">

                        @* campo de filtrado para seleccionar el Tipo *@
                        <input type="radio" name="sel" value="2" id="tipo"
                               onclick="enableElement(this.form.elements['inp2']);">
                        <label for="tipo">Tipo</label>
                        <select type="text" name="inp2" disabled="disabled">
                            >
                            <option value="">Tipos de preguntas</option>
                            <option value="U">Seleccion Unica</option>
                            <option value="M">Seleccion Multiple</option>
                        </select>

                        @* Enviar el filtrado al controlador *@
                        <input type="submit"
                               name="submit"
                               value="Filtrar"
                               class="btn" />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    }

    <table id="selectedColumn" class="table table-hover table-striped table-bordered table-sm " cellspacing="0" width="100%">
        <col width="50">
        <thead class="thead-dark">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Enunciado
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Operaciones
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pregunta_con_opciones.Pregunta.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pregunta_con_opciones.Pregunta.Enunciado)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Tipo)*@
                    Selección única
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Codigo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Codigo })
                </td>
            </tr>
        }
    </table>
</div>

<style>
    .test2 {
        background: #fbfbfb;
    }

    input.QuestionCheckbox {
        width: 30px;
        height: 30px;
    }
</style>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#codigotext").attr("disabled", "disabled");
            if ($("input[name=optradio]:checked").val() == "codigoinput") {
                $("#EnterRange").click(function () {
                    $("#codigotext").removeAttr("disabled");
                });
            }
        });
    </script>

    <script type="text/javascript">
        var currentEnabled = null;
        function enableElement(elem) {
            if (currentEnabled) {
                currentEnabled.disabled = true;
            }
            elem.disabled = false;
            currentEnabled = elem;
        }
    </script>

    <script>
        function filtrar() {
            var i
            for (i = 0; i < document.opcionfiltro.sel.length; i++) {
                if (document.opcionfiltro.sel[i].checked)
                    break;
            }
            var opcion = document.opcionfiltro.sel[i].value
            var text =
        }
    </script>

    <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

}
