@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/Visualizacion/bootstrap-multiselect.js")
@Scripts.Render("~/Scripts/Visualizacion/filtros.js")
@Scripts.Render("~/Scripts/Visualizacion/Chart.js")
@Scripts.Render("~/Scripts/Visualizacion/chroma.js")
@Scripts.Render("~/Scripts/Visualizacion/graficosDashboard.js")
@Styles.Render("~/Content/Visualizacion/styles.css")
@Styles.Render("~/Content/Visualizacion/bootstrap.min.css")
@Styles.Render("~/Content/Visualizacion/bootstrap-multiselect.css")

<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3>Dashboard</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" id="panelFiltros">
                <h4>Filtros</h4>
            </div>

            <div class="col">
                <div class="row" id="promedios">
                    <div class="col">
                        <small id="pP"></small>
                        <small id="pN"></small>
                        <canvas class="graficosPromedio" id="gP"></canvas>
                    </div>
                    <div class="col">
                        <small id="cP"></small>
                        <small id="cN"></small>
                        <canvas class="graficosPromedio" id="gC"></canvas>
                    </div>
                </div>
                <div class="row" id="cuadricula">
                    <div class="col" id="panelDashboard"></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    var filtros = new Filtros();
    $(document).ready(function () {
        filtros.crearFiltros();
        actualizarPromedios(null, null, null, null);
    });

</script>

<script>

    //Actualiza los filtros por debajo del de unidades académicas
    function actualizarDebajoUA() {

        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();

        filtros.llenarFiltroCE(unidadesAcademicas, null, null);
        filtros.llenarFiltroG(unidadesAcademicas, null, null);
        filtros.llenarFiltroP(unidadesAcademicas, null, null);
        filtros.llenarFiltroF(unidadesAcademicas, null, null, null);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        this.actualizarPromedios(unidadesAcademicas, null, null, null);

    }

    //Actualiza los filtros por debajo del de carreras y énfasis
    function actualizarDebajoCE() {

        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();
        var carrerasEnfasis = filtros.recuperarCarrerasEnfasis();

        filtros.llenarFiltroG(unidadesAcademicas, carrerasEnfasis, null);
        filtros.llenarFiltroP(unidadesAcademicas, carrerasEnfasis, null);
        filtros.llenarFiltroF(unidadesAcademicas, carrerasEnfasis, null, null);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        this.actualizarPromedios(unidadesAcademicas, carrerasEnfasis, null, null);

    }

    //Actualiza los filtros por debajo del de grupos
    function actualizarDebajoG() {

        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();
        var carrerasEnfasis = filtros.recuperarCarrerasEnfasis();
        var grupos = filtros.recuperarGrupos();

        filtros.llenarFiltroP(unidadesAcademicas, carrerasEnfasis, grupos);
        filtros.llenarFiltroF(unidadesAcademicas, carrerasEnfasis,grupos, null);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        this.actualizarPromedios(unidadesAcademicas, carrerasEnfasis,grupos, null);

    }

    //Actualiza los filtros por debajo del de profesores
    function actualizarDebajoP() {

        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();
        var carrerasEnfasis = filtros.recuperarCarrerasEnfasis();
        var grupos = filtros.recuperarGrupos();
        var profesores = filtros.recuperarProfesores();

        filtros.llenarFiltroF(unidadesAcademicas, carrerasEnfasis,grupos, profesores);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        this.actualizarPromedios(unidadesAcademicas, carrerasEnfasis,grupos, profesores);

    }

    //Esta función obtiene los parámetros del formulario seleccionado por el usuario y actualiza la vista parcial.
    function actualizarVistaParcial() {

        $('#panelDashboard').html("");
        var f = filtros.recuperarFormulario();

        if (f != null)
        {

            var codigoFormulario = f[0];
            var siglaCurso = f[2];
            var numeroGrupo = f[3];
            var semestre = f[4];
            var anno = f[5];
            var fechaInicio = f[6];
            var fechaFin = f[7];

            //Aquí se recarga la vista parcial con los parámetros del formulario.
            var link = '@Html.ActionLink(linkText: "Formulario", actionName: "Formulario", controllerName: "ResultadosFormulario", routeValues: new { codigoFormulario = "codigoFormularioValor", siglaCurso = "siglaCursoValor", numeroGrupo = "numeroGrupoValor", semestre = "semestreValor", ano = "annoValor", fechaInicio = "fechaInicioValor", fechaFin = "fechaFinValor" }, htmlAttributes: null)';
            link = link.replace('codigoFormularioValor', codigoFormulario);
            link = link.replace('siglaCursoValor', siglaCurso);
            link = link.replace('numeroGrupoValor', numeroGrupo);
            link = link.replace('semestreValor', semestre);
            link = link.replace('annoValor', anno);
            link = link.replace('fechaInicioValor', fechaInicio);
            link = link.replace('fechaFinValor', fechaFin);
            $('#panelDashboard').html(link);

        }

    }

    function actualizarPromedios(unidadesAcademicas, carrerasEnfasis, grupos, profesores) {

        var x = new GraficosDashboard();

        var profe = x.recuperarPromedioProfesor(unidadesAcademicas, carrerasEnfasis, grupos, profesores);
        var profeP = profe[0];
        var profeN = profe[1];

        var curso = x.recuperarPromedioCursos(unidadesAcademicas, carrerasEnfasis, grupos, profesores);
        var cursoP = curso[0];
        var cursoN = curso[1];

        $('#pP').text("Promedio Profesor: " + profeP);
        $('#pN').text("Cantidad: " + profeN);
        $('#cP').text("Promedio Curso: " + cursoP);
        $('#cN').text("Cantidad: " + cursoN);

        var canvasP = document.getElementById('gP').getContext('2d');
        var canvasC = document.getElementById('gC').getContext('2d');

        x.generarGrafico(canvasP);
        x.generarGrafico(canvasC);

    }

</script>


