@{
    ViewBag.Title = "Index";
}


@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/Visualizacion/bootstrap-multiselect.js")
@Scripts.Render("~/Scripts/Visualizacion/popper.min.js")

@Scripts.Render("~/Scripts/Visualizacion/font-awesome.js")
@Scripts.Render("~/Scripts/Visualizacion/filtros.js")
@Scripts.Render("~/Scripts/Visualizacion/graficosDashboard.js")
@Styles.Render("~/Content/Visualizacion/bootstrap.min.css")
@Styles.Render("~/Content/Visualizacion/bootstrap-multiselect.css")
@Styles.Render("~/Content/Visualizacion/styles.css")

<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3>Dashboard</h3>

    <script type="text/javascript">
        var alturaMax = 200;
        function cambiarIcono() {
            //Cambia el ícono dañado por uno de font-awesome
            var icons = document.getElementsByClassName("glyphicon glyphicon-remove-circle");
            for (var index = 0; index < icons.length; ++index) {
                icons[index].className = "fas fa-times";
            }
        }

        $(document).ready(function ()
        {
            $('#filtroUA').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                numberDisplayed: 1,
                includeSelectAllOption: true,
                maxHeight: alturaMax,
                //onChange: function (option, checked) {
                //    alert('Se hizo click en una opción');
                //},
                //onSelectAll: function (option, checked) {
                //    alert('Se hizo click en la opción seleccionar todo');
                //},
                //onDeselectAll: function (option, checked) {
                //    alert('Se hizo click en la opción deseleccionar todo');
                //}
            });
            $('#filtroCarreraEnfasis').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                numberDisplayed: 1,
                includeSelectAllOption: true,
                maxHeight: alturaMax,
            });
            $('#filtroCursoGrupo').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                numberDisplayed: 1,
                includeSelectAllOption: true,
                maxHeight: alturaMax,
            });

            $('#filtroProfesores').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                numberDisplayed: 1,
                includeSelectAllOption: true,
                maxHeight: alturaMax,
            });

            $('#filtroFormularios').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                numberDisplayed: 1,
                includeSelectAllOption: true,
                maxHeight: alturaMax,
            });

            cambiarIcono();

        });
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3" id="panelFiltros">
                <h4>Filtros</h4>
            </div>

            <div class="col">
                <div class="row" id="promedios">
                    <div class="col">
                        <small id="pP"></small>
                        <small id="pN"></small>
                        <small id="cP"></small>
                        <small id="cN"></small>
                    </div>
                </div>
                <div class="row" id="cuadricula">
                    <div class="col" id="panelDashboard"></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    var filtros = new Filtros();
    filtros.crearFiltros();

</script>

<script>

    //Actualiza los filtros por debajo del de unidades académicas
    function actualizarDebajoUA() {
        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();
        //alert(unidadesAcademicas.length);
        filtros.llenarFiltroCE(unidadesAcademicas, null, null);
        filtros.llenarFiltroG(unidadesAcademicas, null, null);
        filtros.llenarFiltroP(unidadesAcademicas, null, null);
        filtros.llenarFiltroF(unidadesAcademicas, null, null, null);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        //Se actualizan las opciones de los multiselects
        $('#filtroCarreraEnfasis').multiselect('rebuild');
        $('#filtroCursoGrupo').multiselect('rebuild');
        $('#filtroProfesores').multiselect('rebuild');
        $('#filtroFormularios').multiselect('rebuild');

        //Actulización de los promedios, basado en el filtro actual
        this.actualizarPromedios(unidadesAcademicas, null, null, null);

    }

    //Actualiza los filtros por debajo del de carreras y énfasis
    function actualizarDebajoCE() {

        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();
        var carrerasEnfasis = filtros.recuperarCarrerasEnfasis();
        
        filtros.llenarFiltroG(unidadesAcademicas, carrerasEnfasis, null);
        filtros.llenarFiltroP(unidadesAcademicas, carrerasEnfasis, null);
        filtros.llenarFiltroF(unidadesAcademicas, carrerasEnfasis, null, null);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        //Se actualizan las opciones de los multiselects
        $('#filtroCursoGrupo').multiselect('rebuild');
        $('#filtroProfesores').multiselect('rebuild');
        $('#filtroFormularios').multiselect('rebuild');

        //Actulización de los promedios, basado en el filtro actual
        this.actualizarPromedios(unidadesAcademicas, carrerasEnfasis, null, null);

    }

    //Actualiza los filtros por debajo del de grupos
    function actualizarDebajoG() {

        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();
        var carrerasEnfasis = filtros.recuperarCarrerasEnfasis();
        var grupos = filtros.recuperarGrupos();

        filtros.llenarFiltroP(unidadesAcademicas, carrerasEnfasis, grupos);
        filtros.llenarFiltroF(unidadesAcademicas, carrerasEnfasis,grupos, null);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        //Se actualizan las opciones de los multiselects
        $('#filtroProfesores').multiselect('rebuild');
        $('#filtroFormularios').multiselect('rebuild');

        //Actulización de los promedios, basado en el filtro actual
        this.actualizarPromedios(unidadesAcademicas, carrerasEnfasis,grupos, null);

    }

    //Actualiza los filtros por debajo del de profesores
    function actualizarDebajoP() {

        var unidadesAcademicas = filtros.recuperarUnidadesAcademicas();
        var carrerasEnfasis = filtros.recuperarCarrerasEnfasis();
        var grupos = filtros.recuperarGrupos();
        var profesores = filtros.recuperarProfesores();

        filtros.llenarFiltroF(unidadesAcademicas, carrerasEnfasis,grupos, profesores);

        //Limpia el panel de la vista parcial
        $('#panelDashboard').html("");

        //Se actualizan las opciones de los multiselects
        $('#filtroFormularios').multiselect('rebuild');

        //Actulización de los promedios, basado en el filtro actual
        this.actualizarPromedios(unidadesAcademicas, carrerasEnfasis,grupos, profesores);

    }

    //Esta función obtiene los parámetros del formulario seleccionado por el usuario y actualiza la vista parcial.
    function actualizarVistaParcial() {

        $('#panelDashboard').html("");
        var f = filtros.recuperarFormulario();

        if (f != null)
        {

            var codigoFormulario = f[0];
            var siglaCurso = f[2];
            var numeroGrupo = f[3];
            var semestre = f[4];
            var anno = f[5];
            var fechaInicio = f[6];
            var fechaFin = f[7];

            //Aquí se recarga la vista parcial con los parámetros del formulario.
            var link = '@Html.ActionLink(linkText: "Formulario", actionName: "Formulario", controllerName: "ResultadosFormulario", routeValues: new { codigoFormulario = "codigoFormularioValor", siglaCurso = "siglaCursoValor", numeroGrupo = "numeroGrupoValor", semestre = "semestreValor", ano = "annoValor", fechaInicio = "fechaInicioValor", fechaFin = "fechaFinValor" }, htmlAttributes: null)';
            link = link.replace('codigoFormularioValor', codigoFormulario);
            link = link.replace('siglaCursoValor', siglaCurso);
            link = link.replace('numeroGrupoValor', numeroGrupo);
            link = link.replace('semestreValor', semestre);
            link = link.replace('annoValor', anno);
            link = link.replace('fechaInicioValor', fechaInicio);
            link = link.replace('fechaFinValor', fechaFin);
            $('#panelDashboard').html(link);

        }

    }

    function actualizarPromedios(unidadesAcademicas, carrerasEnfasis, grupos, profesores) {

        var x = new GraficosDashboard();

        var profe = x.recuperarPromedioProfesor(unidadesAcademicas, carrerasEnfasis, grupos, profesores);
        var profeP = profe[0];
        var profeN = profe[1];

        var curso = x.recuperarPromedioCursos(unidadesAcademicas, carrerasEnfasis, grupos, profesores);
        var cursoP = curso[0];
        var cursoN = [1];

        $('#pP').text("Promedio profe: " + profeP);
        $('#pN').text("Cantidad: " + profeN);
        $('#cP').text("Promedio curso: " + cursoP);
        $('#cN').text("Cantidad: " + cursoN);

    }
</script>


