@model IEnumerable<AppIntegrador.Models.Objetivo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlantillaObjetivo.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoObjetivo.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantillaObjetivo.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoObjetivo.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
