@model AppIntegrador.Models.Objetivo
@{
    var llamadoValidarObjetivo = "manejarFechas('campoFechaInicioObjetivo', 'campoFechaFinObjetivo', 'campoNombreObjetivo', 'campoDescripcionObjetivo', 'campoFechaInicioPlanMejora', 'campoFechaFinPlanMejora', 'CrearObjetivoBoton', 'campoFechaInicioAccionMejora', 'campoFechaFinAccionMejora')";
}

<div class="form-horizontal card-group">
    <div class="modal fade" id="ModalObjetivo" tabindex="-1" role="dialog" aria-labelledby="ModalFormulariosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregando Objetivo al Plan de Mejora</h5>
                </div>
                <div class="modal-body">
                    <div class="row" id="formObjetivos">
                        @Html.AntiForgeryToken()
                        <div class="form-group col-lg-12">
                            <h5>@Html.DisplayNameFor(model => model.nombre)</h5>
                            <div col-lg-10>
                                @Html.EditorFor(model => model.nombre, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   id = "campoNombreObjetivo",
                                   @onkeyup = llamadoValidarObjetivo,
                                   @maxlength = "50",
                                   required = "required",
                                   placeholder = "Nombre del objetivo"
                               }
                           }
)
                                <div id="campoNombreObjetivo_subMsj" class="contador small float-right">0/50 caracteres usados </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">

                            <h5>@Html.DisplayNameFor(model => model.descripcion)</h5>
                            <div col-lg-10>
                                @Html.EditorFor(model => model.descripcion, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   id = "campoDescripcionObjetivo",
                                   @onkeyup = llamadoValidarObjetivo,
                                   @maxlength = "250",
                                   required = "required",
                                   placeholder = "Descripción del objetivo"
                               }
                           }
)
                                <div id="campoDescripcionObjetivo_subMsj" class="contador small float-right">0/250 caracteres usados </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">

                            <h5>Tipo de Objetivo</h5>
                            <div col-lg-10>
                                @Html.DropDownList("tiposDeObjetivo", null, new
                               {
                                   @class = "form-control",
                                   id = "campoTipoObjetivo",
                                   required = "required",
                               })
                            </div>
                        </div>
                        <div class="form-group col-lg-6 offset-lg-0">
                            <h5>@Html.DisplayNameFor(model => model.fechaInicio)</h5>
                            <div>
                                @Html.EditorFor(model => model.fechaInicio, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @onchange = llamadoValidarObjetivo,
                                   id = "campoFechaInicioObjetivo"
                               }
                           }
)
                                <div id="campoFechaInicioObjetivo_subMsj" class="contador small float-right">Inicio objetivo.</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 offset-lg-0">
                            <h5>@Html.DisplayNameFor(model => model.fechaFin)</h5>
                            <div>
                                @Html.EditorFor(model => model.fechaFin, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @onchange = llamadoValidarObjetivo,
                                   id = "campoFechaFinObjetivo"
                               }
                           }
)
                                <div id="campoFechaFinObjetivo_subMsj" class="contador small float-right">Fin objetivo.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blancoUCR" data-dismiss="modal">Cerrar</button>
                    <button 
                            type="button" 
                            id="CrearObjetivoBoton" 
                            disabled 
                            class="btn-azulUCR " 
                            onclick="agregarObjetivo()" 
                            data-dismiss="modal">
                                Agregar objetivo
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>