@model AppIntegrador.Models.Objetivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Objetivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantillaObjetivo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantillaObjetivo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoObjetivo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoObjetivo.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
