@model IEnumerable<AppIntegrador.Models.Objetivo>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <h2>Objetivos</h2>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

    @if (Model.Count() == 0)
    {
        <div class="centeredText">
            <p>
                Aún no se han creado objetivos
            </p>
        </div>
    }
    else
    {
        <table class="table TablasSeccionesPlanesDeMejora">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFin)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
            @*
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlantillaObjetivo.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoObjetivo.nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlantillaObjetivo.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoObjetivo.nombre)
                    </td>
                </tr>
            }*@

            @foreach (var item in Model)
            {
                //if(item.codPlan == 0001) { 
                    <tr class="FilaTablasSeccionesPlanesDeMejora">
                        <td class="TablasNombre">
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td class="TablasDescripcion">
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td class="TablasFecha">
                            @Html.DisplayFor(modelItem => item.fechaInicio)
                        </td>
                        <td class="TablasFecha">
                            @Html.DisplayFor(modelItem => item.fechaFin)
                        </td>
                        <td class="TablasOpciones botonCentrado">
                            @Html.ActionLink("Editar", "Edit", new { plan=item.codPlan, title=item.nombre }, new { @class = "modal-link btn btn-primary" })
                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                            @Html.ActionLink("Borrar", "Delete", new { plan=item.codPlan, title=item.nombre}, new { @class = "modal-link btn btn-danger" })
                        </td>
                    </tr>
                //}
            }

        </table>
    }
    <div class="botonCentrado">
        <p>
            @Html.ActionLink("Agregar", "Create", null, new { @class = "modal-link btn btn-Nuevo" })
        </p>
    </div>
</div>
