<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyectoIntegrador</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="mainBar">
        <!-- Logo -->
        <a href="https://www.ucr.ac.cr/" class="logo" target="_blank">
            <img src="~/Content/images/ucr_promo.png" alt="ucr logo" />
        </a>
        <!-- Proyect -->
        <p class="uppercase">Proyecto Integrador Bases Inge</p>
    </div>

    <div class="wrapper">
        <div class="projectTitle">
            <br />
            <p>Plan de mejoramiento docente</p>
            <br />
        </div>
    </div>

    <!-- Project navigation bar -->
    <nav>
        <br />
        <ul class="wrapper">
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Usuarios</button>
                    <div class="dropdown-content">
                        <a href="#link1">Link 1</a>
                        <a href="#link2">Link 2</a>
                        <a href="#link3">Link 3</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Formularios</button>
                    <div class="dropdown-content">
                        <a href="#link1">Link 1</a>
                        <a href="#link2">Link 2</a>
                        <a href="#link3">Link 3</a>
                    </div>
                </div>
            </li>
            <li class="search">
                <div class="dropdown">
                    <button class="dropbtn">Planes de mejoramiento</button>
                    <div class="dropdown-content">
                        <a href="#link1">Link 1</a>
                        <a href="#link2">Link 2</a>
                        <a href="#link3">Link 3</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Visualización</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Dashboard","Index", "Dashboard")
                    </div>
                </div>
            </li>
        </ul>
        <br />
    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
