<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" lang="es">
    <title>ProyectoIntegrador</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (ViewBag.HTMLCheck != true)
    {
        <div class="mainBar">
            <div class="item">
                <a href="https://www.ucr.ac.cr/" class="logo" target="_blank"><img src="~/Content/images/ucr_promo.png" alt="ucr logo" /></a>
            </div>
            <div class="item">
                <h1>Sistema de Mejoramiento Docente</h1>
            </div>
            <div class="item">
                <ul class="wrapper">

                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">@HttpContext.Current.User.Identity.Name</button>
                            <div class="dropdown-content">
                                <!--Modificar los dos últimos argumentos cuando ya se tengan los controladores respectivos-->
                                @Html.ActionLink("Salir", "Logout", "Home", new object { }, new { @class = "mainBarText" })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--Inverted Navbar Start Here-->
        <!--<nav> tag  start with classes .navbar and .navbar-inverse -->
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <!--Navbar Header Start Here-->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <!--Navbar Header End Here-->
                <!--Menu Start Here-->
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Inicio</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Usuarios
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Index" ,>Administración de usuarios</a></li>
                        </ul>
                    </li>
                    <!--dropdown Menu Start-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formularios<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formulario</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Formularios/Create">Crear Formulario</a></li>
                                    <li><a href="/Formularios/Index">Ver Formularios</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sección</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Seccion/Create">Crear Sección</a></li>
                                    <li><a href="/Seccion/Index">Ver Secciones</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pregunta</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/PreguntaConOpcionesDeSeleccion/Create">Crear Pregunta</a></li>
                                    <li><a href="/PreguntaConOpcionesDeSeleccion/Index">Ver Preguntas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Planes de mejoramiento
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/PlanDeMejora/Index" ,>Mis planes de mejoramiento</a></li>
                            <li><a href="/AccionDeMejora/Index" ,>Acciones de mejora</a></li>
                            <li><a href="/Objetivos/Index" ,>Objetivos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Visualización
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @Html.ActionLink("Formulario", "Formulario", "ResultadosFormulario", new { codigoFormulario = "00000001", siglaCurso = "CI0128", numeroGrupo = 1, semestre = 2, ano = 2019 }, null)

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Acerca de
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/About" ,>Acerca del proyecto</a></li>
                        </ul>
                    </li>

                </ul>
                <!--Menu End Here-->
                <!--Menu End Here-->
                <!--Right Aligned Menu Start-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                </ul>
                <!--Right Aligned Menu End-->
</div>
        </nav>
        <!--<nav> tag end-->
        <!--Inverted Navbar End Here-->
        <script src="js/jquery-2.1.4.min.js"></script>

        <script src="js/bootstrap.min.js"></script>

    }
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
(function($){
	$(document).ready(function(){
		$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
			event.preventDefault(); 
			event.stopPropagation(); 
			$(this).parent().siblings().removeClass('open');
			$(this).parent().toggleClass('open');
		});
	});
})(jQuery);
    </script>


</body>
</html>
