<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" lang="es">
    <title>Sistema de Mejoramiento Docente</title>
    @if (ViewBag.HTMLCheck != true)
    {
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    }
</head>
<body>

    @if (ViewBag.HTMLCheck != true)
    {
        <div class="">
            <div>
                <div class="mainBar">
                    <div class="item">
                        <a href="https://www.ucr.ac.cr/" class="logo" target="_blank"><img src="~/Content/images/ucr_promo.png" alt="ucr logo" /></a>
                    </div>
                    <div class="item">
                        @Html.ActionLink("Sistema de Mejoramiento Docente", "Index", "Home", new object { }, new { @class = "mainBarText" })
                    </div>
                    <div class="item">
                        <ul class="wrapper">

                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn dropbtn_alt">@HttpContext.Current.User.Identity.Name</button>
                                    <div class="dropdown-content">
                                        <!--Modificar los dos últimos argumentos cuando ya se tengan los controladores respectivos-->
                                        @Html.ActionLink("Salir", "Logout", "Home", new object { }, new { @class = "mainBarText" })
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div id="header">
                    <ul class="nav">
                        <li><a href="/Home/Index">Inicio</a></li>
                        <li>
                            <a  href="/Users/Index">Usuarios</a>
                            <ul>
                                <li><a href="/Users/Index">Administración de usuarios</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Formularios</a>
                            <ul>
                                <li>
                                    <a href="">Formulario</a>
                                    <ul>
                                        <li><a href="/Formularios/Create">Crear Formulario</a></li>
                                        <li><a href="/Formularios/Index">Ver Formulario</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Sección</a>
                                    <ul>
                                        <li><a href="/Seccion/Create">Crear Sección</a></li>
                                        <li><a href="/Seccion/Index">Ver Sección</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Preguntas</a>
                                    <ul>
                                        <li><a href="/PreguntaConOpcionesDeSeleccion/Create">Crear Pregunta</a></li>
                                        <li><a href="/PreguntaConOpcionesDeSeleccion/Index">Ver Pregunta</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Planes de Mejora</a>
                            <ul>
                                <li><a href="/PlanDeMejora/Index">Mis Planes de Mejora</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Formulario</a>
                            <ul>
                                <li><a href="/ResultadosFormulario/Formulario?codigoFormulario=00000001&siglaCurso=CI0128&numeroGrupo=1&semestre=2&ano=2019">Formulario</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/About">Acerca de</a></li>
                    </ul>
                </div>
            </div>
        </div>   
    
        <br />
     }

    @RenderBody()
    @if (ViewBag.HTMLCheck != true)
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    }
    @RenderSection("scripts", required: false)


    <script>
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>



    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
</body>

</html>
