<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" lang="es">
    <title>ProyectoIntegrador</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (ViewBag.HTMLCheck != true)
    {
        <div class="mainBar">
            <div class="item">
                <a href="https://www.ucr.ac.cr/" class="logo" target="_blank"><img src="~/Content/images/ucr_promo.png" alt="ucr logo" /></a>
            </div>
            <div class="item">
                @Html.ActionLink("Sistema de Mejoramiento Docente", "Index", "Home" ,  new object { },new { @class = "mainBarText" })
            </div>
            <div class="item">
                <ul>
                    <li style="float:right"><a class="active">@Html.ActionLink("About", "About", "Home", new object { }, new { @class = "mainBarText" })</a></li>
                </ul>
            </div>
        </div>

        <div class="secondNavBar">
            <!-- <div class="wrapper">
            </div>-->
            <!-- Project navigation bar -->

            <nav>
                <br />
                <ul class="wrapper">
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Usuarios</button>
                            <div class="dropdown-content">
                                <a href="#link1">Link 1</a>
                                <a href="#link2">Link 2</a>
                                <a href="#link3">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Formularios</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("Crear pregunta", "Create", "PreguntaConOpcionesDeSeleccion")
                                @Html.ActionLink("Banco de preguntas", "Index", "PreguntaConOpcionesDeSeleccion")
                            </div>
                        </div>
                    </li>
                    <li class="search">
                        <div class="dropdown">
                            <button class="dropbtn">Planes de mejoramiento</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("Mis planes de mejoramiento", "Index", "PlanDeMejora")
                                @Html.ActionLink("Acciones de mejora", "Index", "AccionDeMejora")
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Visualización</button>
                            <div class="dropdown-content">
                                <a href="#link1">Link 1</a>
                                <a href="#link2">Link 2</a>
                                <a href="#link3">Link 3</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <br />
            </nav>
        </div>
    }
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
