<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" lang="es">
    <title>ProyectoIntegrador</title>
    @if (ViewBag.HTMLCheck != true)
    {
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    }
</head>
<body>
    @if (ViewBag.HTMLCheck != true)
    {
        <div class="mainBar">
            <div class="item">
                <a href="https://www.ucr.ac.cr/" class="logo" target="_blank"><img src="~/Content/images/ucr_promo.png" alt="ucr logo" /></a>
            </div>
            <div class="item">
                @Html.ActionLink("Sistema de Mejoramiento Docente", "Index", "Home", new object { }, new { @class = "mainBarText" })
            </div>
            <div class="item">
                <ul>
                    <li style="float:left"><a class="active">@Html.ActionLink("About", "About", "Home", new object { }, new { @class = "mainBarText" })</a></li>
                </ul>
            </div>
            <div class="item">
                <ul class="wrapper">

                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">@HttpContext.Current.User.Identity.Name</button>
                            <div class="dropdown-content">
                                <!--Modificar los dos últimos argumentos cuando ya se tengan los controladores respectivos-->
                                @Html.ActionLink("Salir", "Logout", "Home", new object { }, new { @class = "mainBarText" })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="secondNavBar">
            <!-- <div class="wrapper">
            </div>-->
            <!-- Project navigation bar -->

            <nav>
                <br />
                <ul class="wrapper">
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Usuarios</button>
                            <div class="dropdown-content">
                                <!--Modificar los dos últimos argumentos cuando ya se tengan los controladores respectivos-->
                                @Html.ActionLink("Administración de usuarios", "Index", "Users")
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Formularios</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("Crear pregunta", "Create", "PreguntaConOpcionesDeSeleccion")
                                @Html.ActionLink("Banco de preguntas", "Index", "PreguntaConOpcionesDeSeleccion")
                                @Html.ActionLink("Crear sección", "Create", "Seccion")
                                @Html.ActionLink("Banco de secciones", "Index", "Seccion")
                                @Html.ActionLink("Crear Formulario", "Create", "Formularios")
                            </div>
                        </div>
                    </li>
                    <li class="search">
                        <div class="dropdown">
                            <button class="dropbtn">Planes de mejoramiento</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("Mis planes de mejoramiento", "Index", "PlanDeMejora")
                                @Html.ActionLink("Acciones de mejora", "Index", "AccionDeMejora")
                                @Html.ActionLink("Objetivos", "Index", "Objetivos")
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Visualización</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("Formulario", "Formulario", "ResultadosFormulario", new { codigoFormulario = "00000001", siglaCurso = "CI0128", numeroGrupo = 1, semestre = 2, ano = 2019 }, null)
                            </div>
                        </div>
                    </li>
                </ul>
                <br />
            </nav>
        </div>
    }
    @RenderBody()
    @if (ViewBag.HTMLCheck != true)
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    }
    @RenderSection("scripts", required: false)
    <footer>
        <h3 style="text-align:center; color:red;"><strong>@TempData["Message"]</strong></h3>
    </footer>
</body>

</html>
