@model AppIntegrador.Models.CrearFormularioModel

@{
    ViewBag.Title = "Create";
}

@*<form id="__AjaxAntiForgeryForm" action="#" method="post"><%= Html.AntiForgeryToken()%></form>*@

@using (Html.BeginForm())
{
    @*RIP CF5: Creación de un tabla para organizar la información*@
    <table class="table">
        <thead>
            <h2>Crear Formulario</h2>
        </thead>
        <tbody>
            <tr>
                <td>
                    @*Acomodar el código y el nombre en el mismo nivel*@
                    <div class="form-horizontal card-group">
                        <div class="card card-default shadow">

                            <div class="card-body grisUCR2">
                                <div class=" row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group col-lg-2">
                                        <div>
                                            @Html.EditorFor(model => model.Formulario.Codigo, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "validar-agregar-secciones form-control",
                                               id = "textCode",
                                               name = "textCode",
                                               @maxlength = "8",
                                               required = "required",
                                               placeholder = "Código",
                                               rows = "5",
                                               @onkeyup = "contarCaracteres(this)"
                                           }
                                       })
                                            <div class="contador small float-right">0/8 caracteres usados</div>
                                            @Html.ValidationMessageFor(model => model.Formulario.Codigo, "", new { @style = "color:red" })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-10">
                                        <div class="">
                                            <form accept-charset="UTF-8" action="" method="POST">
                                                @Html.EditorFor(model => model.Formulario.Nombre, new
                                           {
                                               htmlAttributes = new
                                               {
                                                   @class = "validar-agregar-secciones form-control",
                                                   id = "textName",
                                                   name = "textName",
                                                   @maxlength = "250",
                                                   required = "required",
                                                   placeholder = "Nombre del formulario",
                                                   rows = "5",
                                                   @onkeyup = "contarCaracteres(this)"
                                               }
                                           })

                                                <div class="contador small float-right">0/250 caracteres usados</div>
                                                @Html.ValidationMessageFor(model => model.Formulario.Nombre, "", new { @style = "color:red" })
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group float-right">
                                    <div>
                                        <input type="button" value="Agregar secciones" class="btn-azulUCR float-right" id="CrearFormulario" onclick="mostrarSecciones()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr id="secciones" hidden>
                <td>
                    @*Espacio donde se despliegan las secciones ya agregadas al formulario*@
                    <div class="form-horizontal card-group shadow ">
                        <div class="card card-default ">
                            <div class="card-body grisUCR2  ">
                                <h3>Secciones del formulario</h3>
                                <hr />
                                <div class="form-group col-md-12" id="seccionesActuales" style="height: 200px; overflow-y: scroll;">
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        @*Posibilidad de agregar sección*@
                                        <input type="button" value="Elegir secciones" class="btn-azulUCR float-right" id="AgregarSeccion" onclick="CrearModal()" />
                                    </div>
                                </div>
                                <div class="form-horizontal card-group">
                                    <div class="card card-default">
                                        <div>
                                            <div class="modal fade" id="ExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div id="ModalAgregarSecciones">
                                                                @{Html.RenderPartial("/Views/Seccion/_SeccionPartial.cshtml", Model.seccion);}
                                                                <input type="button" class="btn-azulUCR float-right CrearSeccionModal" value="Crear Sección" />
                                                            </div>
                                                            <div id="ModalCrearSeccion">
                                                                @{Html.RenderPartial("/Views/Seccion/_CreateSeccionPartial.cshtml", Model.crearSeccionModel);}
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn-blancoUCR" data-dismiss="modal">Cerrar</button>
                                                            <button type="button" class="btn-azulUCR " onclick="addSeccionToFormulario()" data-dismiss="modal">Agregar secciones seleccionadas</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*Mensaje final de creación de sección*@
                            <input type="submit" value="Crear" class="btn-azulUCR" id="Create" />
                            @Html.ActionLink("Cancelar", "Create", "Controller", new { @class = "btn-blancoUCR" })
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


}

@section Scripts {
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/jqueryval/")*@

    <script src="~/Scripts/Formularios/ContadorCaracteres.js"></script>
    <script src="~/Scripts/Formularios/agregarsecciones.js"></script>
    <script src="~/Scripts/Formularios/DesactivarBotonCrear.js"></script>
    <script src="~/Scripts/Formularios/CrearFormulario.js"></script>

    <script>
        $(document).ready(function () {
            agregarsecciones.init();
            validarEntradasAgregarSecciones();
        });
    </script>



    <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

}