@model IEnumerable<AppIntegrador.Models.Formulario>

@{
    ViewBag.Title = "Index";
}

<h2>Formularios Creados</h2>

<p>
    @Html.ActionLink("Crear un nuevo formulario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            Operaciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.ActionLink("Llenar", "LlenarFormulario", new { id = item.Codigo.Trim() }) 

        </td>
    </tr>
}

</table>