@model AppIntegrador.Models.PreguntaConCodigoSeccion

@{
    Layout = null;
}

@*RIP-EDF6*@

@{string radname = "rad" + Model.CodigoSeccion + Model.Pregunta.Codigo; }
    <div class="card card-primary full">
        @Html.DisplayFor(model => Model.Pregunta.Enunciado)

        <div class='card-body'>

            <input type="radio" name="@radname" value="0" />

            Sí
        </div>

        <div class='card-body'>

            <input type="radio" name="@radname" value="0" />

            No
        </div>

        <div class='card-body'>

            <input type="radio" name="@radname" value="0" />

            No responde
        </div>
    </div>

@if (!Request["rad"].IsEmpty())
{
    <ul>

        @foreach (var selection in Request["rad"].Split(','))
        {
            <li>@selection</li>
        }
    </ul>
}

@*RIP-EDF6*@
<style>
    .card {
        margin-bottom: 20px;
        background-color: white;
        border: 1px solid #939393;
        border-radius: 4px;
        font: "robot";
        font-size: 18px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-left: 20%;
        margin-right: 20%;
    }

    .card-primary > .card-heading {
        color: #000;
        background-color: #e9e9e9;
        border-color: #888b8f;
        .card-body

    {
        padding: 10px;
        padding-bottom: 10px;
        background-color: white;
        padding-bottom: 5px;
    }

    .card-primary > .card-heading {
        color: #000;
        .card-body

    {
        padding: 10px;
        padding-bottom: 10px;
        background-color: white;
        padding-bottom: 5px;
    }

    .card-primary {
        border-color: #646464;
        background-color: #c4c4c4;
        .card-body

    {
        padding: 5px;
    }
    }
</style>


<style>
    .card-body {
        margin-left: 1%;
        padding: 0.5%;
    }
</style>
