@model IEnumerable<AppIntegrador.Models.PreguntaConNumeroSeccion>


@foreach (var pregunta in Model)
{

    @*Se ocupa el tipo de la pregunta para poder guardar las respuestas*@
    @Html.Hidden("secciones[" + pregunta.OrdenSeccion + "].Preguntas[" + pregunta.OrdenPregunta +
                "].Pregunta.Tipo", null, new { @Value = pregunta.Pregunta.Tipo })

    @*Se ocupa el código de la pregunta para poder guardar las respuestas*@
    @Html.Hidden("secciones[" + pregunta.OrdenSeccion + "].Preguntas[" + pregunta.OrdenPregunta +
                "].Pregunta.Codigo", null, new { @Value = pregunta.Pregunta.Codigo })
    <div class="card card-primary full">
        @(pregunta.OrdenPregunta + 1).
        @Html.DisplayFor(model => pregunta.Pregunta.Enunciado)
        @if (pregunta.Pregunta.Tipo == "S")
        {
            { Html.RenderPartial("PreguntaSiNoNr", pregunta); }
        }
        else if (pregunta.Pregunta.Tipo == "U")
        {
            { Html.RenderPartial("PreguntaConOpciones", pregunta); }
        }
        else if (pregunta.Pregunta.Tipo == "L")
        {
            { Html.RenderPartial("RespuestaLibre", pregunta); }
        }
        else if (pregunta.Pregunta.Tipo == "E")
        {
            { Html.RenderPartial("PreguntaEscalar", pregunta); }
        }
        else if (pregunta.Pregunta.Tipo == "M")
        {
            { Html.RenderPartial("PreguntaSeleccionMultiple", pregunta); }
        }

        @if (pregunta.Pregunta.Tipo == "U" || pregunta.Pregunta.Tipo == "M" || pregunta.Pregunta.Tipo == "E" || pregunta.Pregunta.Tipo == "S")
        {
            string justificacionname = "secciones[" + pregunta.OrdenSeccion + "].Preguntas[" + pregunta.OrdenPregunta + "].RespuestaLibreOJustificacion";
            if (pregunta.Pregunta.Pregunta_con_opciones.TituloCampoObservacion != null)
            {
                <div class="card-body grisUCR2">
                    <div style="margin: 1%">
                        @pregunta.Pregunta.Pregunta_con_opciones.TituloCampoObservacion
                        <textarea class="form-control long-textbox col-md-12 redondeado" style="width: 100%;max-width: 100%; min-width: 100%" cols="50"
                                  name="@justificacionname" maxlength="250">@pregunta.RespuestaLibreOJustificacion</textarea>
                    </div>
                </div>
            }
        }
    </div>
}

