@model AppIntegrador.Models.Usuario

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

@{
    ViewBag.Title = "Login";
}
<body id="greybg">

    <div id="system-title">
        <h2>Sistema de Mejoramiento Docente de la Universidad de Costa Rica</h2>
    </div>

    <!-- UserStory 1.5 - Modal for email reset -->
    <div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="bannerformmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Restablecer contraseña</h4>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label class="text-left">Correo</label>
                        @*<i class="fas fa-user prefix grey-text"></i>*@
                        <input type="text" id="orangeForm-name" class="form-control validate">
                    </div>
                </div>
                <div class="modal-footer d-flex text-right">
                    <button class="btn">Enviar</button>
                    <button class="btn" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- UserStory 1.5 - End of Modal for email reset -->

    <div class="container-login100">
        <div class="row">
            <div class="blue-box">
                <div class="logo-styles">
                    <img class="ucr-logo" src='/Content/images/logo_ucr.png' border='0' alt='logo-ucr' />
                </div>
                <br />
                @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                <div class="form-group">
                    <label style="color:white; font-weight:bold; font-size:16px;">Usuario</label>
                    @Html.TextBoxFor(m => m.Username, new { @maxlength = "30", @class = "form-control", required = "required" })
                    <p style="color:red;">@Html.ValidationMessageFor(m => m.Username)</p>
                </div>
                    <div class="form-group">
                        <label style="color:white; font-weight:bold; font-size:16px;">Contraseña</label>
                        <!-- Esto reemplaza a Html.PasswordFor -->
                        <input id="Password" name="Password" type="password" maxlength="25" class="form-control" autocomplete="off" required />
                        <i class="fa fa-eye" style="position:relative; font-size:25px; left:380px; bottom:30px; cursor:pointer" id="Eye"></i>
                        <p style="color:red;">@Html.ValidationMessageFor(m => m.Password)</p>
                    </div>
                    <!-- UserStory 1.5 - link to modal -->
                    <div class="form-group text-right">
                        <a class="text-right" href="#bannerformmodal" data-toggle="modal" data-target="#bannerformmodal" ><small style="color:white;">¿Has olvidado la contraseña?</small></a>
                    </div>
                    <!-- UserStory 1.5 - end of link to modal -->

                    <!-- Permite mostrar/ocultar el password cuando se presiona el Ojo -->
                    <script>
                        var pass = document.getElementById('Password');
                        var eye = document.getElementById('Eye');

                        eye.addEventListener('click', TogglePassword);

                        function TogglePassword() {

                            eye.classList.toggle('active');

                            (pass.type == 'password') ? pass.type = 'text' : pass.type = 'password';
                        }
                    </script>

                    <div class="form-group-login-btn">
                        <button type="submit" class="btn btn-default">Ingresar</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <footer class="flex-foot">
        &copy; Universidad de Costa Rica
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </footer>

</body>