﻿@model AppIntegrador.Models.Usuario

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    @Styles.Render("~/Content/users&profiles")
</head>

@{
    ViewBag.Title = "Password Reset";
}
<body id="greybg">

    <h2 class="text-center">Sistema de Mejoramiento Docente de la Universidad de Costa Rica</h2>

    <div class="container-login100">
        @using (Html.BeginForm("SendPasswordRequest", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="text-success">
                @ViewBag.Message
            </div>
            
            <div class="form-group">
                <label class="control-label">
                    Correo
                </label>
                @Html.TextBox("Correo", "", new { @class="form-control"})
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
           
        }
    </div>
    <footer class="flex-foot fixed-bottom">
        &copy; Universidad de Costa Rica
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/custom")
</body>