@using AppIntegrador.Helpers
﻿@model AppIntegrador.Models.Usuario

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/users&profiles")
</head>

@{
    ViewBag.Title = "Password Reset";
}
<body id="greybg">

    <h2 class="text-center">Sistema de Mejoramiento Docente de la Universidad de Costa Rica</h2>

    <div class="container-login100">
        <div class="row">
            <div class="blue-box">
                @using (Html.BeginForm("PasswordReset", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <label class="control-label text-light pb-3 h3">Recuperar Contraseña</label>
                        <p class="text-light"><strong>Correo</strong></p>
                        @Html.TextBox("Correo", "", new { @class = "form-control" })
                    </div>

                    <!-- UserStory TAM-16.1 - Servicio captcha -->
                    <div class="row d-flex justify-content-center mx-1 pb-3">
                        @Html.GoogleCaptcha()
                        @Html.InvalidGoogleCaptchaLabel("Seleccione la casilla \"No soy un robot\"")
                    </div>
                    <!-- End of UserStory  -->

                    <div class="form-group d-flex justify-content-start">
                        <input type="submit" value="Enviar" class="btn-blancoUCR mr-4" />
                        @Html.ActionLink("Regresar", "Login", "Home", new object { }, new { @class = "btn-linkUCR", style = "color: #000;" })
                    </div>

                    <div class="ml-auto badge badge-pill bg-info align-items-end" style="color:white;">@ViewBag.Message</div>

                }
            </div>
        </div>
    </div>
    <footer class="flex-foot fixed-bottom">
        &copy; Universidad de Costa Rica
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </footer>
    @Scripts.Render("~/bundles/custom")
</body>

@*//If there is a message in ViewBag.Message it displays it as an alert*@
@section Scripts
    {
    @Scripts.Render("~/bundles/custom")
    <script src="https://use.fontawesome.com/4889cf49d6.js"></script>
    @if (!string.IsNullOrEmpty(ViewBag.typeMessage))
    {


        switch (ViewBag.typeMessage)
        {
            case "alert":
                <script type="text/javascript">
                customAlert('danger','@ViewBag.NotifyMessage');;
                </script>
                break;
            case "success":
                <script type="text/javascript">
                    Swal.fire({
                        type: 'success',
                        title: '@ViewBag.NotifyTitle',
                        text: '@ViewBag.NotifyMessage',
                        allowEscapeKey: false,
                        allowOutsideClick: false
                    }).then(function(){
                        window.location.href = "/Home/Logout";
                    });
                </script>
                @*<script type="text/javascript">
                        customAlert('success','@ViewBag.NotifyMessage');
                    </script>*@
                break;
            default:
                break;
        }
    }
}