@model AppIntegrador.Models.Persona

@{
    ViewBag.Title = "Crear un nuevo usuario";
}
@Styles.Render("~/Content/users&profiles")

<div id="container_users">
    <h2>Crear un nuevo usuario</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-inline">
            <h4>Persona</h4>

            <div class="form-horizontal">
                @Html.LabelFor(model => model.TipoIdentificacion, "Tipo de identificación", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-4">
                    <!--Story TAM-2.2: combobox to select the id type when creating an user.-->
                    <select id="TipoIdentificacion" name="TipoIdentificacion" class="form-control">
                        <option disabled selected value> -- Seleccione una opción -- </option>
                        <option value="Cedula">Cédula</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Residencia">Número de residencia</option>
                    </select>

                    @Html.ValidationMessageFor(model => model.TipoIdentificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-horizontal">
                @Html.LabelFor(model => model.Identificacion, "Identificación", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                </div>
            </div>
            <br /><br />
            <div class="form-horizontal">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-horizontal">
                @Html.LabelFor(model => model.CorreoAlt, "Correo alternativo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CorreoAlt, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.CorreoAlt, "", new { @class = "text-danger" })
                </div>
            </div>
            <br /><br />
            <div class="form-horizontal">
                @Html.LabelFor(model => model.Nombre1, "Primer nombre", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Nombre1, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Nombre1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-horizontal">
                @Html.LabelFor(model => model.Nombre2, "Segundo nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Nombre2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre2, "", new { @class = "text-danger" })
                </div>
            </div>
            <br /><br />
            <div class="form-horizontal">
                @Html.LabelFor(model => model.Apellido1, "Primer apellido", htmlAttributes: new { @class = "control-label required col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Apellido1, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Apellido1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-horizontal">
                @Html.LabelFor(model => model.Apellido2, "Segundo apellido", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Apellido2, "", new { @class = "text-danger" })
                </div>
            </div>
            <br /><br />
            <div class="form-horizontal">
                @Html.LabelFor(model => model.Estudiante.Carne, "Carné", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Estudiante.Carne, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Estudiante.Carne, "", new { @class = "text-danger" })
                </div>

            </div>


            <div>
                <div>
                    <br />
                </div>
                <div>
                    <br />
                </div>
                <div>
                    <p>Los campos marcados con <span style="color:red; font-weight:bold;">*</span> son requeridos.</p>
                </div>
                <div class="col-md-offset-4 col-md-4" style="text-align:center;">
                    <input type="submit" value="Crear" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", "Index", new { @class = "btn btn-danger" })
                </div>
                <div>
                    <br />
                </div>
                <div class="col-md-offset-1 col-md-4">
                    @Html.ActionLink("Atrás", "Index", "Index", new { @class = "btn btn-default" })
                </div>

            </div>

        </div>

    }

</div>

<style>
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<script>
    function validateIdField() {
        var enteredId = document.getElementById("Identificacion");
        var selectedType = document.getElementById("TipoIdentificacion");
        var idField = document.getElementById("Identificacion");

        switch (selectedType.value) {
            case "Cedula": idField.placeholder = "Ingrese 9 dígitos";
                break;
            case "Pasaporte": alert('Usted seleccionó pasaporte' + enteredId.value);
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
