@model AppIntegrador.Models.UsuarioPersona

@{
    ViewBag.Title = "Details";
}

    <div class="container">
        <h2>Details</h2>

        <div>
            <h4>Persona</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.TipoIdentificacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.TipoIdentificacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Identificacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Identificacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Nombre1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Nombre1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Nombre2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Nombre2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Apellido1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Apellido1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Apellido2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Apellido2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Estudiante.Carne)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Estudiante.Carne)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Correo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Correo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Persona.CorreoAlt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.CorreoAlt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Activo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.Activo)
                </dd>

                <dt>
                    <p>Acciones</p>
                </dt>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new
                        {
                            username = Model.Persona.Correo.Substring(0, Model.Persona.Correo.LastIndexOf('.')),
                                                               domain = Model.Persona.Correo.Substring(Model.Persona.Correo.LastIndexOf('.'))
                        }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
