@model AppIntegrador.Models.UsuarioPersona

@{
    ViewBag.Title = "Details";
}

    <div class="container">
        <h2>Detalles</h2>

        <div>
            <h4>Persona</h4>
            <hr />
            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.TipoIdentificacion)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.TipoIdentificacion)
                </div>
            </div>

            <hr />


            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Identificacion)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Identificacion)
                </div>
            </div>
            <hr />

            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Correo)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Correo)
                </div>
            </div>
            <hr />


            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.CorreoAlt)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.CorreoAlt)
                    <br />
                </div>
            </div>
            <hr />


            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Nombre1)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Nombre1)
                </div>
            </div>
            <hr />

            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Nombre2)
                    
                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Nombre2)
                    <br />
                </div>
            </div>
            <hr />

            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Apellido1)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Apellido1)

                </div>
            </div>
            <hr />

            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Apellido2)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Apellido2)
                    <br />
                </div>
            </div>
            <hr />

            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Estudiante.Carne)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Estudiante.Carne)
                    <br />
                </div>
            </div>
            <hr />
            <div class="col-md-6" style="text-align:right; font-weight:bold">

                <div>
                    @Html.DisplayNameFor(model => model.Persona.Usuario.Activo)

                </div>
            </div>
            <div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Persona.Usuario.Activo)
                    <br />
                </div>
            </div>
            
            <hr />
            <br />




        </div>
        <br />
        <br />
        <div class="col-md-6 col-centered" style="text-align:center">
            <p>
                @Html.ActionLink("Editar", "Edit", new
           {
               username = Model.Persona.Correo.Substring(0, Model.Persona.Correo.LastIndexOf('.')),
               domain = Model.Persona.Correo.Substring(Model.Persona.Correo.LastIndexOf('.'))
           },
                            new
                            {
                                @class = "btn btn-primary"
                            }

            )
                @Html.ActionLink("Atrás", "Index", "Index", new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
