@model IEnumerable<AppIntegrador.Models.UsuarioPersona>

@{
    ViewBag.Title = "Index";
}

<link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">
<br />
<div class="container">
    <div class="row" style="display:flex;">
        <div class="column" style="flex:50%;">
            <h2>
                Administración de usuarios
            </h2>
        </div>
        <div class="column" style="flex:50%; text-align:right; vertical-align:bottom;">

            <p>@Html.ActionLink("+ Agregar usuario", "Create", "Create", new { @class = "btn btn-success" })</p>
        </div>
    </div>
    <br />
        <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <col width="50">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Persona.Identificacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Persona.Apellido1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Persona.Apellido2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Persona.Nombre1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Persona.Nombre2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.Activo)
                    </th>
                    <th>
                        <p style="text-align:center; display:table-cell;">Acciones</p>
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model.OrderBy(item => item.Persona.Apellido1).ThenBy(item => item.Persona.Apellido2).
                        ThenBy(item => item.Persona.Nombre1).ThenBy(item => item.Persona.Nombre2))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Persona.Identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Persona.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Persona.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Persona.Nombre1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Persona.Nombre2)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Usuario.Activo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </td>
                    <td style="text-align:center;">
                        @Html.ActionLink("Editar", "Edit", new
                   {
                            
                                username = item.Persona.Correo.Contains('.')? item.Persona.Correo.Substring(0, item.Persona.Correo.LastIndexOf('.')) : item.Persona.Correo,
                                domain = item.Persona.Correo.Contains('.')? item.Persona.Correo.Substring(item.Persona.Correo.LastIndexOf('.')) : ""
                            
                        },
                             new
                             {
                                 @class = "btn btn-primary"
                             }
                   )
                        @Html.ActionLink("Detalles", "Details", new
                        {
                            username = item.Persona.Correo.Contains('.')? item.Persona.Correo.Substring(0, item.Persona.Correo.LastIndexOf('.')) : item.Persona.Correo,
                            domain = item.Persona.Correo.Contains('.')? item.Persona.Correo.Substring(item.Persona.Correo.LastIndexOf('.')) : ""
                        },
                             new
                             {
                                 @class = "btn btn-default"
                        }

               )
                    @{
                        if (item.Persona.Correo != "admin@mail.com")
                        {
                            @Html.ActionLink("Borrar", "DeleteConfirmed", new
                       {
                           username = item.Persona.Correo.Contains('.')? item.Persona.Correo.Substring(0, item.Persona.Correo.LastIndexOf('.')) : item.Persona.Correo,
                           domain = item.Persona.Correo.Contains('.')? item.Persona.Correo.Substring(item.Persona.Correo.LastIndexOf('.')) : "",
                           confirmed = true
                       },
                            new
                            {    /*User Story TAM-2.3: Show a popup window to confirm before deleting the selected user.*/
                                onclick = "return confirm('¿Está seguro que desea borrar al usuario " + item.Persona.Correo + "? " +
                                "Esto borra los datos de esta persona y lo deja sin acceso al sistema.')",
                                @class = "btn btn-danger"
                            })
                        }
                        else
                        {
                            <a class="btn btn-danger disabled">Borrar</a>
                        }
                   }

                        </td>

                    </tr>
                }

    </table>
</div>

@*//If there is a message in ViewBag.Message it displays it as an alert*@
@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
{
<script type="text/javascript">
        alert("@ViewBag.AlertMessage");
</script>
}


