@model AppIntegrador.Models.Activa_por

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activa_por</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formulario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formulario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.SiglaCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.SiglaCurso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
