@model AppIntegrador.Models.PlanMejora

@{
    ViewBag.Title = "Details";
}


    <div class="planesTable">
        <h2>Details</h2>

        <div>
            <h4>PlanMejora</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaInicio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaFin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserIDA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserIDA)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Formulario.Codigo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Formulario.Codigo)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>