@model IEnumerable<AppIntegrador.Models.PlanMejora>

@{
    ViewBag.Title = "Index";
}

<h2>Planes de Mejora</h2>

<p>
    @Html.ActionLink("Crear nuevo Plan de Mejora", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
