@model AppIntegrador.Models.Pregunta

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

    <div class="container">
        <h3>Crear pregunta</h3>
        <div class="panel panel-default">
            @*test3*@
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => model.Codigo, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "validar form-control",
                                                @maxlength = "8",
                                                required = "required",
                                                @onkeyup = "contarCaracteres(this)",
                                                @placeholder = "Código"
                                            }
                                        })

                                        <div class="contador small pull-right">0/8 caracteres usados</div>
                                        @*Historia MSU: que el mensaje de error salga en rojo*@
                                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @style = "color:red" })
                                    </div>
                                    <div class="col-md-10">
                                        @*<div>
                                            <button name="@Html.NameFor(m => m.Tipo)" value="-" id="@Html.NameFor(m => m.Tipo)" class="btn btn-default dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="texto-btn">Escoger tipo</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu col-md-10" style="margin-left: 7.5%" aria-labelledby="Tipo">
                                                <li value="U"><a href="#">Opción única</a></li>
                                                <li value="M"><a href="#">Opción múltiple</a></li>
                                                <li value="L"><a href="#">Respuesta libre</a></li>
                                                <li value="E"><a href="#">Escalar</a></li>
                                                <li value="S"><a href="#">Sí / No / No responde</a></li>
                                            </ul>
                                        </div>*@
                                        
                                        <select id="Tipos" name="Tipo" class="form-control">
                                            <option value="-">Escoger tipo</option>
                                            <option value="U">Opción única</option>
                                            <option value="M">Opción múltiple</option>
                                            <option value="L">Respuesta libre</option>
                                            <option value="E">Escalar</option>
                                            <option value="S">Sí / No / No responde</option>
                                        </select>
                                    </div>
                                </div>
                                <hr />
                                <br />
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Enunciado, new
                                    {
                                        @class = "validar form-control long-textbox",
                                        @style = "width: 100%;max-width: 100%",
                                        @maxlength = "250",
                                        required = "required",
                                        data_val = "true",
                                        data_val_length_max = "250",
                                        @onkeyup = "contarCaracteres(this)",
                                        @placeholder = "Enunciado de la pregunta"
                                    })

                                    <div class="contador small pull-right">0/250 caracteres usados</div>
                                    @*Historia MSU: que el mensaje de error salga en rojo*@
                                    @Html.ValidationMessageFor(model => model.Enunciado, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

@section Scripts{

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/creacionpregunta.js"></script>
    <script src="~/Scripts/Formularios/ContadorCaracteres.js"></script>
    <script src="~/Scripts/Formularios/CrearPreguntas.js"></script>
    <script src="~/Scripts/Formularios/DesactivarBotonCrear.js"></script>

    <script>
        //$(".dropdown-menu li").on("click", function () {
        //    cambiarTipo(this);
        //})

        //function cambiarTipo(node) {
        //    var valorSeleccionado = $(node).attr("value")
        //    // Buscar el boton "combobox"
        //    var botonCombobox = $(node).parent().parent()
        //    // Asignar valor al dropdown
        //    $(botonCombobox).find("#Tipo").attr("value", valorSeleccionado)
        //    // Cambiar nombre
        //    $(botonCombobox).find(".texto-btn").text($(node).text())
        //}
    </script>
    


}