
@model AppIntegrador.Models.Pregunta

@{
    Layout = null;
}

@* Parte de la justificación *@
<div>
    <input type="checkbox" class="float-left" name="showField" id="showField" value="yes" onchange="myFunction()" onclick="EnableDisableTextBox(this)">
    <label for="showField" class="col-lg-10">
        Incluir campo de justificación para la pregunta.
    </label>
</div>

<div class="form-group" id="justificationField">
    <div class="col-lg-12">
        @Html.EditorFor(model => model.Pregunta_con_opciones.TituloCampoObservacion, new
        {
            htmlAttributes = new
            {
                @class = "validar-opc form-control",
                required = "required",
                id = "txtJustificationNumber",
                @maxlength = "50",
                @placeholder = "Descripción",
                @onkeyup = "contarCaracteres(this)"
            }
        })
        <div class="contador small float-right">0/50 caracteres usados</div>
    </div>
</div>



<div class="row align-content-lg-start" style="display: block ruby">
    <text style="padding: 7px">  De:   </text>
    <select name="min" class="form-control" name="min" id="min" style="width: 12%">

        @*Se muestran las opciones para el valor mínimo del 0 al 9*@
        @for (var i = 0; i < 10; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
    <text style="padding: 7px">  a  </text>
    <select name="max" class="form-control" name="max" id="max" style="width: 14%">

        @*Se muestran las opciones para el valor mínimo del 1 al 10*@
        @for (var i = 1; i < 11; i++)
        {
            <option value="@i">@i</option>
        }
    </select>

</div>

