
@model AppIntegrador.Models.PlanDeMejora

@{
    ViewBag.Title = "Delete";
    var planFinal = Model;
}

<!-- Boton para editar el plan de mejora -->
<div class="createPlanButton">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#borrar-@planFinal.codigo">
        Borrar
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="borrar-@planFinal.codigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Borrado del plan de mejora</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Plan de Mejora a ser borrado:</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.codigo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => planFinal.codigo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => planFinal.nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fechaInicio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => planFinal.fechaInicio)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fechaFin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => planFinal.fechaFin)
                        </dd>

                    </dl>
                </div>
                <form action="BorrarPlan" method="post">
                    <div class="verticalBoxes">
                        <input name="codigoPlan" class="form-control" value=@planFinal.codigo type="hidden" />
                        <input type="submit" value="Borrar Plan" class="btn btn-danger" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" value="Cancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



<script>
    function ShowModal(id)
    {
      var modal = document.getElementById(id);
      modal.style.display = "block";
    }
</script>
