@model AppIntegrador.Models.PlanDeMejoraMetadata

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<!-- Modal -->

<div class="modal-header">
    <h4 class="modal-title">Crear Plan de Mejora</h4>
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        Todos los campos son obligatorios. <br>
        <span class="glyphicon glyphicon-warning-sign"></span>
        La fecha de inicio debe ser mayor que la fecha de finalización.
    </div>
</div>
<div class="modal-body">
    <form role="form" id="newPlan" action="CrearPlanDeMejora" method="post">

        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.nombre, "Nombre")
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @onkeyup = "nombreDelPlan()", placeholder = "Máximo 50 caracteres", maxlength = "50" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.fechaInicio, "Fecha Inicio")
                    <div class="row">
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", @oninput = "inicio()" } })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.fechaFin, "Fecha Fin")
                    <div class="row">
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control", @oninput = "fina()" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="botonCentrado">
                    <input type="submit" id="send" value="Crear Plan de Mejora" class="btn btn-success" disabled="disabled" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
      
    </script>

}



