@{
    ViewBag.Title = "Create";
    var plan = new AppIntegrador.Models.PlanDeMejora();

    var listaFormularios = new List<string>();
}

@Scripts.Render("~/Scripts/PlanesDeMejora/analizarTiemposPlanDeMejora.js")

<form id="newPlan" onsubmit="sayHello();">

    <div class="sameRow">

        <div>
            <div class="sameColumn">
                <div class="sameRow">
                    <h6>@Html.LabelFor(model => plan.nombre, "Nombre:")</h6>
                    &nbsp;
                    @Html.EditorFor(model => plan.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Máximo 50 caracteres", maxlength = "50", @onkeyup = "cambioNombrePlan(this)" } })
                </div>

                <div class="alignRight">
                    <span class="regularMsj"> <p id="nombrePDM_eror">50 letras restantes.</p> </span>
                </div>
            </div>
        </div>


        <div>
            <div class="sameColumn">
                <div class="sameRow">
                    @Html.LabelFor(model => plan.fechaInicio, "Inicio")
                    &nbsp;
                    @Html.EditorFor(model => plan.fechaInicio, new { htmlAttributes = new { id = "fechaInicioPlanDM", @class = "form-control", required = "required", @onChange = "validacionFechas()" } })
                </div>

                <div class="alignRight">
                    <span class="error regularMsj"><p id="fechaInicioPDM_eror regularMsj" class="redError">Campo Obligatorio</p></span>
                </div>
            </div>
        </div>


        <div>
            <div class="sameColumn">
                <div class="sameRow">
                    @Html.LabelFor(model => plan.fechaFin, "Fin")
                    &nbsp;
                    @Html.EditorFor(model => plan.fechaFin, new { htmlAttributes = new { id = "fechaFinalPlanDM", @class = "form-control", required = "required", @onChange = "validacionFechas()" } })
                </div>

                <div class="alignRight">
                    <span class="error regularMsj"><p id="fechaFinalPDM_eror regularMsj" class="redError">Campo Obligatorio</p></span>
                </div>
            </div>
        </div>
    </div>

    <div class="sameRow">

        <div class="halfSeccion sameRowCheckboxes">
            <div>
                @Html.LabelFor(model => plan.fechaFin, "Asignado a:")
            </div>
            &nbsp;
            <label class="checkboxPDM">
                <input type="checkbox" onchange="activarDesactivar(this, document.getElementById('opcionesFormulario'))" value="formulario" />
                Formulario
            </label>
            &nbsp;
            <label class="checkboxPDM">
                <input type="checkbox" onchange="activarDesactivar(this, document.getElementById('opcionesPersonas'))" value="formulario" />
                Personas
            </label>
        </div>

        <div class="quarterSeccion hideElement" id="opcionesFormulario">
            <div class="sameRowSelect">
                <h6>Formulario:</h6>
                &nbsp;
                <select name="Formularios">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>

        <div class="quarterSeccion hideElement" id="opcionesPersonas">
            <div class="sameRowSelect">
                <h6>Personas:</h6>
                &nbsp;
                <select name="Formularios">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
    </div>

    <br />

    <div class="alignRight">
        <input type="submit" id="enviarFormularioCompletPDM" value="Crear Plan de Mejora" class="btn btn-success" disabled />
        <input type="submit" id="send" style="display:none;" value="Guardar cambios a Plan de Mejora" class="btn btn-success" disabled="disabled" />
    </div>
</form>
