@model AppIntegrador.Models.Metadata.ObjetivoMetadata

@*
    Creado por: Johan Córdoba
    Historia a la que pertenece: MOS-25 "como usuario quiero tener una interfaz que muestre de forma clara las jerarquías entre las distintas partes del subsistema de creación de planes de mejora"
    Vista parcial para crear los objetivos de un plan de mejora
*@

@{

    Layout = null;
}

<div>
    <form role="form" id="newObjetivo" action="CrearObjetivo" method="post">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.codPlan, new { style = "display:none;", @Value = ViewBag.IdPlan })
                            @Html.ValidationMessageFor(model => model.codPlan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", maxlength = "50", placeholder = "Máximo 50 caracteres" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.nombTipoObj, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DropDownList("nombTipoObj", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nombTipoObj, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(model => model.fechaFin, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", rows = "3", maxlength = "250", style = "resize:vertical", placeholder = "Máximo 250 caracteres" })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            /*
                Modificado por: Johan Córdoba
                Historia a la que pertenece: MOS-1.2 "agregar, modificar, borrar y consultar los objetivos de un plan de mejora"
                Cambio la funcionalidad del boton para que no refresque toda la vista
                y solo cierre el modal. Además esto tambien permite que en las vistas parciales
                an cancelar la creación de un plan de mejora vuelva a esta vista y no a la de
                index de acciones de mejora.

            */
            <div class="form-group">
                <div class="row">
                    <div class="botonCentrado">
                        <input type="submit" id="crearObjetivoButton" value="Crear" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </form>

</div>

@section Scripts {


}