
@model AppIntegrador.Models.PlanDeMejora

@{
    ViewBag.Title = "Edit";
    var planFinal = Model;

    int codigoInt = Convert.ToInt32(ViewData["codigoPlan"]);
}



<!-- Boton para editar el plan de mejora -->
<div class="col-md-6">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@planFinal.codigo">
        Editar
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="@planFinal.codigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Edición del plan de mejora</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="ModificarPlan">
                    <div class="form-group">
                        <div class="verticalBoxesCrear">
                            <div class="labelPlace">
                                @Html.LabelFor(model => planFinal.nombre, "Codigo")
                            </div>
                            <div class="inputPlace">
                                <input readonly type="text" name="codigo" value="@planFinal.codigo" placeholder="codigo del plan .." class="form-control" />
                            </div>
                        </div>
                        <div class="verticalBoxesCrear">
                            <div class="labelPlace">
                                @Html.LabelFor(model => planFinal.nombre, "Nombre")
                            </div>
                            <div class="inputPlace">
                                <input type="text" name="nombre" value="@planFinal.nombre" placeholder="nombre del plan .." class="form-control" />
                            </div>
                        </div>
                        <div class="verticalBoxesCrear">
                            <div class="labelPlace">
                                @Html.LabelFor(model => planFinal.codigo, "Fecha de inicio")
                            </div>
                            <div class="inputPlace">
                                <input type="date" name="fechaInicio" value="@string.Format("{0:yyyy-MM-dd}", planFinal.fechaInicio)" class="form-control" />
                            </div>
                        </div>
                        <div class="verticalBoxesCrear">
                            <div class="labelPlace">
                                @Html.LabelFor(model => planFinal.codigo, "Fecha de fin")
                            </div>
                            <div class="inputPlace">
                                <input type="date" name="fechaFin" value="@string.Format("{0:yyyy-MM-dd}", planFinal.fechaFin)" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="botonCentrado">
                            <input type="submit" value="Editar Plan de Mejora" class="btn btn-success" />
                            <button type="button" value="Cancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
