@model IEnumerable<AppIntegrador.Models.ObtenerAccionablesPorEvaluar_Result>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripAcci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th></th>
    </tr>

    @foreach (var accionable in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => accionable.descripAcci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => accionable.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => accionable.fechaFin)
            </td>
            <td>
                @Html.ActionLink(
                    "Evaluar",
                    "Evaluar",
                    "PlanDeMejora",
                    new { 
                        codPlan = accionable.codPlan,
                        nombreObj = accionable.nombreObj,
                        descripAcMej = accionable.descripAcMej,
                        descripAcci = accionable.descripAcci,
                        tipo = accionable.tipo
                    },
                    new { @class = "btn-blancoUCR" })
            </td>
        </tr>
    }
</table>
