@model AppIntegrador.Models.PlanDeMejora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanDeMejora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor1.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor1.Correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Codigo, cedula = Model.CorreoProf }) |
    @Html.ActionLink("Regresar a la lista de planes", "Index")
</p>
