@model AppIntegrador.Models.PlanDeMejora
@*
    Creado por: Johan Córdoba
    Historia a la que pertenece: MOS-25 "como usuario quiero tener una interfaz que muestre de forma clara las jerarquías entre las distintas partes del subsistema de creación de planes de mejora"
    Vista que contiene todo el plan de mejora después de creado y permite añadir objetivos, acciones y accionables
*@

<div class="fullWidth">
    <div id="modal-containerPlanes" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>

    <div class="planDiv">

        <h2>Crear Plan de mejora @ViewBag.IdPlan </h2>

        <form role="form" id="newPlan" action="EditarPlanDeMejora2" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.codigo)

            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.fechaFin, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="botonCentrado">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>

        <div class="planDiv2">
            <div id="crearNuevoObjetivo">
                <h2>Objetivos del Plan de mejora @ViewBag.IdPlan </h2>
                <div id="crear">
                    @Html.Action("divObjetivo", new { id = ViewBag.IdPlan })
                </div>
            </div>
            <div>
                <h4 style="text-align:center">Lista de objetivos</h4>

                <div id="divObjetivos">
                    @Html.Partial("_objetivosDelPlan", Model.Objetivo)
                </div>
            </div>

            <div class="planDiv3">
                <div id="crearNuevaAccion">
                    <h2>Seleccione un Objetivo</h2>
                    <div id="crearAccion">
                    </div>
                </div>
                <div>
                    <h4 style="text-align:center">Lista de acciones de mejora</h4>
                    <div id="divAcciones">
                    </div>
                </div>
                <div class="planDiv2">
                    <div id="crearNuevoAccionable">
                        <h2>Lista de accionables del accionable @ViewBag.ObjetivoSeleccionado</h2>
                        <div id="crearAccionable">
                        </div>
                    </div>
                    <div>
                        <h4 style="text-align:center">Lista de accionables</h4>
                        <div id="divAccionables">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(function () {

            //modifica la vista parcial de los objetivos al crear uno nuevo
            $('#newObjetivo').submit(function (e) {
                //alert("dentro del submit");
                var id = "@ViewBag.IdPlan";
                e.preventDefault();
                $.ajax({
                    url:'/PlanDeMejora/CrearObjetivo/',
                    type:'post',
                    data:$('#newObjetivo').serialize(),
                    success:function(){
                        $.ajax({
                            type: 'GET',
                            url: "@Url.Content("/PlanDeMejora/RefrescarObjetivos/")",
                            data : {
                                        Id:id  //Data need to pass as parameter
                                    },
                            dataType: 'html', //dataType - html
                            success:function(result)
                            {
                                //alert ("Inside ajax"),
                                $('#divObjetivos').html(result);
                            }
                        });
                    }
                });
            });

        });

    </script>

    <script>
        clickObjetivo = function (id, plan, obj) {
            //alert("plan id:" + plan + " nombre obj:" + obj + " id obj:" + id);
            var content = '<h2>Acciones de mejora del Objetivo ' + id + '</h2>' + '<div id="crearAccion"></div>';
            document.getElementById('crearNuevaAccion').innerHTML = content;
            $.ajax({
                type: 'GET',
                url: "@Url.Content("/AccionDeMejora/divAccion/")",
                data: {
                      //Data need to pass as parameter
                      plan: plan,
                      nombObj: obj
                      },
                dataType: 'html',
                success:function(result)
                {
                    $('#crearAccion').html(result);
                }
            });

            actualizarAccionesDeMejora(plan, obj);
        };
    </script>

    <script>
        clickAccionDeMejora = function (id, plan, obj, acm) {
            //alert("ID: " + plan + "\nNombre objetivo: " + obj + "\nID objetivo: " + id + "\nDescripción de la acción de mejora:" + acm);
            var content = '<h2>Accionables de la acción de mejora ' + id + '</h2>' + '<div id="crearAccionable"></div>';
            document.getElementById('crearNuevoAccionable').innerHTML = content;
            $.ajax({
                type: 'GET',
                url: "@Url.Content("/Accionables/Create/")",
                data: {
                      //Data need to pass as parameter
                      codPlan: plan,
                      nombObj: obj,
                      descripAcMej: acm
                      },
                dataType: 'html',
                success:function(result)
                {
                    $('#crearAccionable').html(result);
                }
            });

            //actualizarAccionesDeMejora(plan, obj);
        };
    </script>

    <script>
        function actualizarAccionesDeMejora(plan, obj) {
            $.ajax({
                type: 'GET',
                url: "@Url.Content("/AccionDeMejora/AccionesDeObjetivo/")",
                data: {
                      //Data need to pass as parameter
                      plan: plan,
                      nombObj: obj
                      },
                dataType: 'html',
                success:function(result)
                {
                    $('#divAcciones').html(result);
                }
            });
        }
    </script>
    <script>
        function actualizarAccionables(plan, obj, desc) {
            $.ajax({
                type: 'GET',
                url: "@Url.Content("/Accionables/TablaAccionables/")",
                data: {
                      //Data need to pass as parameter
                      codPlan: plan,
                      nombObj: obj,
                      descripAcMej: desc
                      },
                dataType: 'html',
                success:function(result)
                {
                    $('#divAccionables').html(result);
                }
            });
        }
    </script>

    <script>
        function cargarAccionesDeMejora(plan, obj) {
            //alert("en la funcion cargar  id:"+plan+" y obj:"+obj);
            actualizarAccionesDeMejora(plan, obj);
        }
    </script>
    <script>
        function cargarAccionables(plan, obj, desc) {
            //alert("en la funcion cargar  id:"+plan+" y obj:"+obj);
            actualizarAccionables(plan, obj, desc);
        }
    </script>
}
