@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Index";

    var mostrarObjetivos = false;
    var mostrarAccionesDeMejora = false;
    var mostrarAccionables = false;

    var idPlan = -1;
}




<div class="fullWidth">
    <div class="fullWidth">
        <div class="horizontalBoxes">
                <h1 class="impText">Planes de Mejora - @Model.Count() asignados</h1>
        </div>

    </div>

    <br />

    <div class="planesTable">
        <table class='table table-bordered table-condensed table-striped table-hover'>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.codigo)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFin)
                </th>
                <th>
                    Creado por:
                </th>
                <th>
                    Asignado a:
                </th>
                <th>
                    Opciones de Edición
                </th>
            </tr>

            @foreach (var plan in Model)
            {
                <tr onclick="@idPlan=plan.codigo;">
                    <td id="codigoTemporal">
                        @Html.DisplayFor(modelItem => plan.codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.fechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.fechaFin)
                    </td>
                    <td>
                        @HttpContext.Current.User.Identity.Name
                    </td>
                    <td>
                        @HttpContext.Current.User.Identity.Name
                    </td>

                    <td>
                        <div class="verticalBoxes">
                            <div>
                                @Html.Partial("~/Views/PlanDeMejora/_edit.cshtml", plan)
                            </div>
                            <div>
                                @Html.Partial("~/Views/PlanDeMejora/_borrar.cshtml", plan)
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <hr />

        <div class="botonCentrado">
            <p>
                @Html.ActionLink("Agregar Plan de Mejora", "Create", "PlanDeMejora", null, new { @class = "modal-link btn btn-Nuevo" })
            </p>
        </div>

    </div>


    <div class="fullWidth">

        @Html.Action("objetivosPlan", "PlanDeMejora", new { id = idPlan })

        <hr />
    </div>


    <div class="fullWidth">
        <h2>Acciones de mejora</h2>
        <hr />
    </div>



    <div class="fullWidth">
        <h2 class="impText">Accionables</h2>
        @if (mostrarAccionables)
        {
            <h2>Accionables</h2>
        }
        <hr />
    </div>
</div>

<script>
    function setCodigoPlan(codigoPlan, idPlan) {
        idPlan = codigoPlan;
        console.log(idPlan);
    }
</script>