@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Index";
    ViewBag.indexPlanMejora = -1;
}

<div class="horizontalBoxes">
    <div class="fullWidth">
        <div class="verticalBoxes">
            <div class="halfVerticalBox">
                <p class="impText">Planes de Mejora - @Model.Count() asignados</p>
            </div>

            <!-- Button that hekps create another PlanDeMejora -->
            @Html.Partial("~/Views/PlanDeMejora/_crear.cshtml")

        </div>
    </div>

    <br />

    <div class="planesTable">
        <table class='table table-bordered table-condensed table-striped table-hover'>
<<<<<<< HEAD
            <tr >
                <th>
                    @Html.DisplayNameFor(model => model.codigo)
                    
=======
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.codigo)

>>>>>>> nuevoMosqueteros
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFin)
                </th>
                <th>
                    Creado por:
                </th>
                <th>
                    Asignado a:
                </th>
                <th>
                    Opciones de Edición
                </th>
            </tr>

            @foreach (var plan in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => plan.codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.fechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.fechaFin)
                    </td>
                    <td>
                        @HttpContext.Current.User.Identity.Name
                    </td>
                    <td>
                        @HttpContext.Current.User.Identity.Name
                    </td>

                    <td>
                        <div class="verticalBoxes">
                            <div>
<<<<<<< HEAD
                                @Html.Partial("~/Views/PlanDeMejora/_edit.cshtml", plan)
=======
                                @Html.Partial("~/Views/PlanDeMejora/_edit.cshtml", plan, new ViewDataDictionary { { "codigoPlan", plan.codigo } })
>>>>>>> nuevoMosqueteros
                            </div>
                            <div>
                                @Html.Partial("~/Views/PlanDeMejora/_borrar.cshtml", plan)
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <hr />
    </div>
<<<<<<< HEAD


    <div class="fullWidth">
        <p class="impText">Objetivos</p>
        <hr />
    </div>


    <div class="fullWidth">
        <p class="impText">Acciones de Mejora</p>
        <hr />
    </div>



    <div class="fullWidth">
        <p class="impText">Accionables</p>
        <hr />
    </div>
</div>


<script>
    function sayHello() {
        console.log("Hello")
    }
</script>
=======


    <div class="fullWidth">
        <p class="impText">Objetivos</p>
        <hr />
    </div>


    <div class="fullWidth">
        <p class="impText">Acciones de Mejora</p>
        <hr />
    </div>



    <div class="fullWidth">
        <p class="impText">Accionables</p>
        <hr />
    </div>
</div>
>>>>>>> nuevoMosqueteros
