@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Index";

    var mostrarObjetivos = false;
    var mostrarAccionesDeMejora = false;
    var mostrarAccionables = false;
}




<div class="fullWidth">
    <div class="fullWidth">
        <div class="horizontalBoxes">
            <h1 class="impText">Planes de Mejora - @Model.Count() asignados</h1>
        </div>

    </div>

    <br />

    <div class="planesTable">
        <table class='table table-bordered table-condensed table-striped table-hover'>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.codigo)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFin)
                </th>
                <th>
                    Creado por:
                </th>
                <th>
                    Asignado a:
                </th>
                <th>
                    Opciones de Edición
                </th>
            </tr>

            @foreach (var plan in Model)
            {
                <tr class="FilaTablasSeccionesPlanesDeMejora" onclick="clickPlan(@plan.codigo)">
                    <td id="codigoTemporal">
                        @Html.DisplayFor(modelItem => plan.codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.fechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plan.fechaFin)
                    </td>
                    <td>
                        @HttpContext.Current.User.Identity.Name
                    </td>
                    <td>
                        @HttpContext.Current.User.Identity.Name
                    </td>

                    <td>
                        <div class="verticalBoxes">
                            <div>
                                @Html.Partial("~/Views/PlanDeMejora/_editPlanDeMejora.cshtml", plan)
                            </div>
                            <!-- Boton para editar el plan de mejora -->
                            <div class="createPlanButton">
                                <button type="button" onclick="clickPlan(@plan.codigo)" class="btn btn-primary" id="verObjetivos">
                                    Ver objetivos
                                </button>
                            </div>
                            <div>
                                @Html.Partial("~/Views/PlanDeMejora/_borrarPlanDeMejora.cshtml", plan)
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>

        <div class="botonCentrado">
            <p>
                @Html.ActionLink("Agregar Plan de Mejora", "Create", "PlanDeMejora", null, new { @class = "modal-link btn btn-Nuevo" })
            </p>
        </div>
        <hr />
    </div>

    <div class="objetivosPlan">
        <h2>Objetivos</h2>
        <div class="centeredText">
            <p>
                Seleccione un plan de mejora
            </p>
        </div>
        <hr />

        <h2>Acciones de mejora</h2>
        <div class="centeredText">
            <p>
                Seleccione un Objetivo
            </p>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        function myFunction() {
            var x = document.getElementById("objetivosPlan").value;
            console.log(x);
        }
        clickPlan = function (id) {
            $(".objetivosPlan").load("objetivosPlan",
                { id: id });
        };
        $(document).ready(function () {
        });
    </script>

    <script>
        clickObjetivo = function ({ id, nomb }) {
            alert(id + " nombre: " + nomb);
            $(".accionesObjetivo").load("accionesObjetivo",
                { id: id, nomb: nomb });
        };
        $(document).ready(function () {
        });
    </script>

}
