@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Index";

    var mostrarObjetivos = false;
    var mostrarAccionesDeMejora = false;
    var mostrarAccionables = false;

    @*
        Añadido por: Johan Córdoba
        Historia a la que pertenece: MOS-1.3 "agregar, modificar, borrar y consultar las acciones de mejora de un objetivo"
        Permite pasar más de un pármetro al javascrip que actualiza las acciones de un plan.
    *@
    dynamic item = new System.Dynamic.ExpandoObject();
    item.MultiLineString = @"a multi-line
     string";
    item.SingleLineString = "a single-line string";
}

<div class="fullWidth">
    @*
        Modificado por: Johan Córdoba
        Historia a la que pertenece: MOS-1.1 "agregar, modificar, borrar y consultar los planes de mejora"
        Diversos cambios para que todas las vistas tengan la misma forma.
    *@
    <div class="row">
        <div class="col-md-8">
            <h2 class="impText">Planes de Mejora - @Model.Count() asignados</h2>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            <br />
            @Html.ActionLink("Nuevo Plan de Mejora", "Create", "PlanDeMejora", null, new { @class = "modal-link btn btn-Nuevo col-md-12" })
        </div>

    </div>

    <br />

    <div>
        <table class="table">
            <tr class="EncabezadoTabla">
                <th>
                    @Html.DisplayNameFor(model => model.codigo)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    Creado por
                </th>
                <th>
                    Asignado a
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFin)
                </th>
                <th>
                    Opciones
                </th>
            </tr>

            @foreach (var plan in Model)
            {
                <tbody id="data">
                    <tr class="FilaTablasPlanesDeMejora" onclick="clickPlan(@plan.codigo)">
                        <td id="codigoTemporal" class="TablasCodigo">
                            @Html.DisplayFor(modelItem => plan.codigo)
                        </td>
                        <td class="TablasNombre">
                            @Html.DisplayFor(modelItem => plan.nombre)
                        </td>
                        <td class="TablasUsuario">
                            @HttpContext.Current.User.Identity.Name
                        </td>
                        <td class="TablasUsuario">
                            @HttpContext.Current.User.Identity.Name
                        </td>
                        <td class="TablasFecha">
                            @Html.DisplayFor(modelItem => plan.fechaInicio)
                        </td>
                        <td class="TablasFecha">
                            @Html.DisplayFor(modelItem => plan.fechaFin)
                        </td>
                        <td>
                            <div class="verticalBoxes">
                                <div>
                                    @Html.Partial("~/Views/PlanDeMejora/_editPlanDeMejora.cshtml", plan)
                                </div>
                                <div>
                                    @Html.Partial("~/Views/PlanDeMejora/_borrarPlanDeMejora.cshtml", plan)
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>

        <hr />
    </div>

    <div class="objetivosPlan">
        <div class="row">
            <div class="col-md-8">
                <h2 class="impText">Objetivos</h2>
            </div>
        </div>
        <div class="centeredText">
            <p>
                Seleccione un plan de mejora
            </p>
        </div>
        <hr />

    </div>

    <div class="accionesObjetivo" id="acciones">
        <div class="row">
            <div class="col-md-8">
                <h2 class="impText">Acciones de mejora</h2>
            </div>
        </div>
        <div class="centeredText">
            <p>
                Seleccione un Objetivo
            </p>
        </div>
        <hr />
    </div>
</div>



@section Scripts{
    <script>

        function myFunction() {
            var x = document.getElementById("objetivosPlan").value;
            console.log(x);
        }
        clickPlan = function (id) {
            $(".objetivosPlan").load("objetivosPlan",
                { id: id });
            var content = '<div class="row">\
                    <div class="col-md-8">\
                        <h2 class="impText">Acciones de mejora</h2>\
                    </div>\
                </div>\
                <div class="centeredText">\
                    <p>\
                        Seleccione un Objetivo\
                    </p>\
                </div>\
                <hr />';
            document.getElementById('acciones').innerHTML = content;
        };

    </script>

    <script>
        clickObjetivo = function (id, ida) {
            //alert(id + " nombre: " + ida); //para debug
            $(".accionesObjetivo").load("accionesObjetivo",
                { id: id, nomb: ida });
        };
    </script>

    <script>
        $("#data tr").click(function () {
            var selected = $(this).hasClass("highlight");
            $("#data tr").removeClass("highlight");
            if (!selected)
                $(this).addClass("highlight");
        });
    </script>

    <script>
        $("#dataObj tr").click(function () {
            var selected = $(this).hasClass("highlight2");
            $("#dataObj tr").removeClass("highlight2");
            if (!selected)
                $(this).addClass("highlight2");
        });
    </script>

}


