@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Planes de Mejora";
    AppIntegrador.Models.PlanDeMejora planTemp = new AppIntegrador.Models.PlanDeMejora();
}


<div class="horizontalBoxes">
    <div class="fullWidth">
        <div class="horizontalBoxes">
            <div>
                <p class="impText">Planes de Mejora - @Model.Count() asignados</p>
            </div>
            <div>
                @Html.Partial("~/Views/PlanDeMejora/_tablaPlanesDeMejora.cshtml")
            </div>
            <div class="fullWidth">
                @Html.Partial("~/Views/PlanDeMejora/_crearPlanDeMejora.cshtml", planTemp)
            </div>
        </div>
        <hr />
    </div>

    <br />


    <div class="fullWidth">
        <p class="impText">Objetivos</p>
        <input type="button" class="btn btn-primary" value="Objetivos" onclick="location.href='@Url.Action("Index", "Objetivos", new { idPlan: 5 })'" />
        </div>
        <hr />
    </div>


    <div class="fullWidth">
        <p class="impText">Acciones de Mejora</p>
        <input type="button" class="btn btn-primary" value="Accion De Mejora" onclick="location.href='@Url.Action("Index", "AccionDeMejora")'" />
        <hr />
    </div>



    <div class="fullWidth">
        <p class="impText">Accionables</p>
        <h1>accionables</h1>
        <hr />
    </div>
</div>