@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Planes de Mejora";
    ViewBag.pantalla = 2;
}

<div class="dashboardPlanesDeMejora">
    <div class="leftPanel">
        <ul>
            <li>
                @*@Html.ActionLink("Ver mis planes de mejora", "Index", null, new { @class = "btn btn-Nuevo", pantalla = 1 })*@
                <button class="btn btn-Nuevo" onclick="showPartialView(1)">Ver mis planes de mejora</button>
            </li>
            <li>
                @*@Html.ActionLink("Crear nuevo plan de mejora", "Index", null, new { @class = "btn btn-Nuevo", pantalla = 2 })*@
                <button class="btn btn-Nuevo" onclick="showPartialView(2)">Crear nuevo plan de mejora</button>
            </li>
        </ul>

    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor1.Correo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesor.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesor1.Correo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id = item.Codigo, cedula = item.CorreoProf  }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Codigo, cedula = item.CorreoProf }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Codigo, cedula = item.CorreoProf })
                </td>
            </tr>
        }

                        @if (Model.Count() == 0)
                        {
                            <h2 class="text-center">Planes de Mejora</h2>
                            <div class="centeredText">
                                <p>No tiene ningún plan relacionado a usted.</p>
                            </div>
                        }
                        else
                        {
                            @Html.Partial("_ListaPlanesDeMejora")
                        }
                    </div>
                </div>
            }

            <!-- Seccion de creacion de los planes de mejora -->
            @if (ViewBag.pantalla == 2)
            {
                <div class="creacionPlanesDeMejora">
                    @Html.Partial("_CrearPlanDeMejora")
                    <hr />
                </div>
            }
        </div>
    </div>
</div>



<script type="text/javascript">
    function showPartialView(screen) {
        pantalla = screen;
        console.log(screen)
    }
</script>