@model AppIntegrador.Models.Pregunta_con_opciones_de_seleccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pregunta_con_opciones_de_seleccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pregunta_con_opciones.TituloCampoObservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta_con_opciones.TituloCampoObservacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
