@model AppIntegrador.Models.ResultadosFormulario

@{
    ViewBag.Title = "Formulario";
}

    <head>
        <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />
        <link href="~/Content/Visualizacion/bootstrap.min.css" rel="stylesheet" />

    </head>

    <body>

        <script src="~/Scripts/Visualizacion/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/Visualizacion/Chart.js"></script>
        <script src="~/Scripts/Visualizacion/chroma.js"></script>
        <script src="~/Scripts/Visualizacion/chartjs-plugin-datalabels.js"></script>
        <script src="~/Scripts/Visualizacion/baseRespuestasPlantilla.js"></script>
        <script src="~/Scripts/Visualizacion/graficos.js"></script>
        <script src="~/Scripts/Visualizacion/estadisticas.js"></script>
        <script src="~/Scripts/Visualizacion/TextoLibre.js"></script>
        <script src="~/Scripts/Visualizacion/insertaContenidos.js"></script>
        <script src="~/Scripts/Visualizacion/botones.js"></script>

        <script>



            var codigoFormulario = @Html.Raw(Model.CodigoFormulario);
            var siglaCurso = @Html.Raw(Model.SiglaCurso);
            var numeroGrupo = @Html.Raw(Model.NumeroGrupo);
            var semestre = @Html.Raw(Model.Semestre);
            var ano = @Html.Raw(Model.Ano);
            var fechaInicio =  @Html.Raw(Model.FechaInicio);
            var fechaFin =  @Html.Raw(Model.FechaFin);
            var listaPreguntas = @Html.Raw(Model.Preguntas);

            //var botones = new Botones();
            //botones.crearBotones(listaPreguntas);

        </script>

        <div class="row">
            <div class="col-md-6 align-content-center">
                <strong> Formulario: </strong> @Html.DisplayFor(model => model.CodigoFormulario); <br />
            </div>
            <div class="container col-md-6 align-content-center">
                @Html.DropDownList("ddlDropDownList", Model.Seccioncitas, "Seleccione una opción...", new
                {
                    @class = "form-control",
                    id = "secciones",
                    placeholder = "Seccion",
                    data_width = "100%"
                                ,
                    onchange = "seccion_cambiada(this.value, listaPreguntas)"
                })
            </div>

        </div>

        <div class="row">

            <button class="btn-azulUCR float-right" id="Vermas">
                Ver más
            </button>


            <div class="modal fade" id="ModalResultados" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>
                        <div class="modal-body" id="Ejemplo">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-blancoUCR" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row offset-md-2">
            <!--Para flexboxes de la cuadrícula de las preguntas-->
            <div class="d-flex flex-wrap col-md-10 bg-light justify-content-center" id="contenedorPreguntas" align-items: center>
            </div>
        </div>



        <br />

    </body>

