@model AppIntegrador.Models.ResultadosFormulario

@{
    ViewBag.Title = "Formulario";
}

<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />
</head>

<body>

    <script>

        var codigoFormulario = @Html.Raw(Json.Encode(Model.CodigoFormulario));
        var siglaCurso = @Html.Raw(Json.Encode(Model.SiglaCurso));
        var numeroGrupo = @Html.Raw(Json.Encode(Model.NumeroGrupo));
        var semestre = @Html.Raw(Json.Encode(Model.Semestre));
        var año = @Html.Raw(Json.Encode(Model.Año));
        var questions = @Html.Raw(Json.Encode(Model.Preguntas));

        var infoFormulario = document.createElement("div");

        var infoCodigo = document.createElement("p");
        infoCodigo.innerHTML = "Formulario: " + codigoFormulario;

        var infoCurso = document.createElement("p");
        infoCurso.innerHTML = "Curso: " + siglaCurso;

        var infoGrupo = document.createElement("p");
        infoGrupo.innerHTML = "Grupo: " + numeroGrupo;

        var infoSemestre = document.createElement("p");
        infoSemestre.innerHTML = "Semestre: " + semestre;

        var infoAño = document.createElement("p");
        infoAño.innerHTML = "Año: " + año;

        infoFormulario.appendChild(infoCodigo);
        infoFormulario.appendChild(infoCurso);
        infoFormulario.appendChild(infoGrupo);
        infoFormulario.appendChild(infoSemestre);
        infoFormulario.appendChild(infoAño);
        document.body.appendChild(infoFormulario);

    </script>

    <script src="~/Scripts/Visualizacion/Chart.js"></script>
    <script src="~/Scripts/Visualizacion/chartjs-plugin-datalabels.js"></script>
    <script src="~/Scripts/Visualizacion/chroma.js"></script>
    <script src="~/Scripts/Visualizacion/charts.js"></script>
    <script src="~/Scripts/Visualizacion/box.js"></script>
    <script src="~/Scripts/Visualizacion/collapsibles.js"></script>

</body>

