
@model AppIntegrador.Models.CrearSeccionModel

@{
    ViewBag.Title = "Crear sección";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <td style="width:36%">

                <div class="form-horizontal card-group">

                    <div class="card card-default">

                        <div class="card-body test2">
                            <hr />
                            <h2>Crear Sección</h2>
                            <div class="form-horizontal row">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group col-lg-5">
                                    <div>
                                        @Html.EditorFor(model => model.Seccion.Codigo, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "validar form-control",
                                                id = "textCode",
                                                name = "textCode",
                                                @maxlength = "8",
                                                required = "required",
                                                placeholder = "Código",
                                                rows = "5",
                                                @onkeyup = "contarCaracteres(this)"
                                            }
                                        })
                                        <div class="contador small float-right">0/8 caracteres usados</div>
                                        @Html.ValidationMessageFor(model => model.Seccion.Codigo, "", new { @style = "color:red" })
                                    </div>
                                </div>

                                <div class="form-group col-lg-7">
                                    <div>
                                        <form accept-charset="UTF-8" action="" method="POST">
                                            @Html.EditorFor(model => model.Seccion.Nombre, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "validar form-control",
                                                    id = "textName",
                                                    name = "textName",
                                                    @maxlength = "250",
                                                    required = "required",
                                                    placeholder = "Nombre del formulario",
                                                    rows = "5",
                                                    @onkeyup = "contarCaracteres(this)"
                                                }
                                            })

                                            <div class="contador small float-right">0/250 caracteres usados</div>
                                            @Html.ValidationMessageFor(model => model.Seccion.Nombre, "", new { @style = "color:red" })
                                        </form>
                                    </div>
                                </div>

                                <div class="form-group col-lg-offset-2 col-lg-10">
                                    <div>
                                        <input type="button" value="Regresar al banco de Secciones" class = "btn-blancoUCR"  onclick="CerrarCrearSeccion()"/>
                                        <input type="submit" value="Crear" class="btn-azulUCR" id="Create" data-toggle="modal" data-target="#myModal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>


        </tr>
    </table>
}