@model IEnumerable<AppIntegrador.Models.AccionDeMejora>

@{
    int position = 0;
}

@if (Model.Count() == 0)
{
    <div class="centeredText">
        <p>
            Aún no se han creado Acciones de mejora en este Objetivo.
        </p>
    </div>
}
else
{
    <table class="table">
        <colgroup>
            <col class="TablasNumero">
            <col style="width: 57%;">
            <col class="TablasFecha">
            <col class="TablasFecha">
            <col class="TablasOpciones">
        </colgroup>

        <thead class="thead-light">
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFin)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="FilaTablasPlanesDeMejora">
                    <td>
                        <input type="radio" name="accionesDeMejora" value=@(position++) onclick="seleccionaAccionLista( @item.codPlan, `@item.nombreObj`, `@item.descripcion`)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaFin)
                    </td>
                    <td>
                        <div>
                            <input type="button" value="Preguntas asociadas" class="btn-azulUCR float-right" id="VerPreguntas" onclick="verPreguntasAsociadas(@item.codPlan, `@item.nombreObj`, `@item.descripcion`)" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}