
@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccionDeMejora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objetivo.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objetivo.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantillaAccionDeMejora.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantillaAccionDeMejora.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
