@model IEnumerable<AppIntegrador.Models.AccionDeMejora>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Acciones de Mejora</h2>


@if (Model.Count() == 0)
{
    <div class="centeredText">
        <p>
            Aún no se han agregado acciones
        </p>
    </div>

}
else
{
 
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivo.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objetivo.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Codigo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Codigo })
                </td>
            </tr>
        }

    </table>
}
<div class="botonCrearNuevo">
    <p>
        @Html.ActionLink("Crear nueva acción", "Create", null, new { @class = "btn btn-Nuevo" })
    </p>
</div>