@model IEnumerable<AppIntegrador.Models.AccionDeMejora>

@{
    ViewBag.Title = "Index";
}


<div>
    @*
        Modificado por: Johan Córdoba
        Historia a la que pertenece: MOS-1.3 "agregar, modificar, borrar y consultar las acciones de mejora de un objetivo"
        Cambio para que se adapte a la vista parcial de planes de mejoras.
    *@

    <div class="row">
        <div class="col-md-8">
            <h2 class="impText">Acciones de mejora</h2>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            <br />
            @Html.ActionLink("Nueva Acción de mejora", "Create","AccionDeMejora", null, new { @class = "modal-link btn btn-Nuevo col-md-12" })
        </div>

    </div>

    @if (Model.Count() == 0)
    {
        <div class="centeredText">
            <p>
                Aún no se han creado acciones de mejora en el objetivo seleccionado
            </p>
        </div>
    }
    else
    {
        <table class="table">
            <tr class="EncabezadoTabla">
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFin)
                </th>
                <th>
                    Opciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr class="FilaAccioneblePlanesDeMejora">
                        <td class="TablasDescripcionAccionable">
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td class="TablasFecha">
                            @Html.DisplayFor(modelItem => item.fechaInicio)
                        </td>
                        <td class="TablasFecha">
                            @Html.DisplayFor(modelItem => item.fechaFin)
                        </td>
                        <td class="TablasOpciones botonCentrado">
                            <div class="col-md-6">
                                @Html.ActionLink("Editar", "Edit", "AccionDeMejora", new { plan = item.codPlan, obj = item.nombreObj, descripcion = item.descripcion }, new { @class = "modal-link btn btn-primary" })
                            </div>
                            <div class="col-md-6">
                                @Html.ActionLink("Borrar", "Delete", "AccionDeMejora", new { plan = item.codPlan, nombObj = item.nombreObj, descripcion = item.descripcion }, new { @class = "modal-link btn btn-danger" })
                            </div>
                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                </tbody>
                
            }

        </table>
    }

</div>
